{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}

{% block pageTitle %}
  Add services to your session
{% endblock %}

{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l">Percy Road Medical Centre</span>
      <h1 class="nhsuk-heading-l">Add services to your session</h1>

      {# MOJ Navigation START #}
      <nav class="moj-sub-navigation nhsuk-u-padding-bottom-2" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="add-services-to-your-session-by-vaccine">By vaccine</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page">By schedule</a>
          </li>
        </ul>
      </nav>
      {# MOJ Navigation END #}
 
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="#/" class="form">

        <div id="visitOne">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Visit 1 from 8 weeks
              </span>
            </summary>
            <div class="nhsuk-details__text">

              <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend">
                    Select all options that are relevant to you
                  </legend>
                  <div class="nhsuk-checkboxes" data-module="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="vaccinesVisitOne" name="vaccinesVisitOne" type="checkbox" value="rotavirusVisitOne" data-checkbox-exclusive-group="vaccinesVisitOne-list">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="vaccinesDoseOne">
                        Rotavirus (1st dose)
                      </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="vaccinesVisitOne-2" name="vaccinesVisitOne" type="checkbox" value="sixinoneVisitOne" data-checkbox-exclusive-group="vaccinesVisitOne-list">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="vaccinesDoseOne-2">
                        6-in-1 (1st dose)
                      </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="vaccinesVisitOne-3" name="vaccinesVisitOne" type="checkbox" value="menbVisitOne" data-checkbox-exclusive-group="vaccinesVisitOne-list">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="vaccinesDoseOne-3">
                        Men B (1st dose)
                      </label>
                    </div>

                    <div class="nhsuk-checkboxes__divider">or</div>
                    
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="vaccinesVisitOne-4" name="vaccinesVisitOne" type="checkbox" value="allVisitOne" data-checkbox-exclusive data-checkbox-exclusive-group="vaccinesVisitOne-list">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="vaccinesDoseOne-4">
                        Select all visit 1 vaccines
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

            </div>
          </details>
        </div>

        <div id="visitTwo">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Visit 2 from 12 weeks
              </span>
            </summary>
            <div class="nhsuk-details__text">
            </div>
          </details>
        </div>

        <div id="visitThree">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Visit 3 from 16 weeks
              </span>
            </summary>
            <div class="nhsuk-details__text">
            </div>
          </details>
        </div>

        <div id="visitFour">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Visit 4 from 12 months
              </span>
            </summary>
            <div class="nhsuk-details__text">

              <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend">
                    Select all options that are relevant to you
                  </legend>
                  <div class="nhsuk-checkboxes" data-module="nhsuk-checkboxes">

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="vaccinesVisitFour" name="vaccinesVisitFour" type="checkbox" value="mmrVisitFour" data-checkbox-exclusive-group="vaccinesVisitFour-list">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="vaccinesVisitFour">
                        MMR
                      </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="vaccinesVisitFour-2" name="vaccinesVisitFour" type="checkbox" value="pneumococcalVisitFour" data-checkbox-exclusive-group="vaccinesVisitFour-list">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="vaccinesVisitFour-2">
                        Pneumococcal (2nd dose)
                      </label>
                    </div>

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="vaccinesVisitFour-3" name="vaccinesVisitFour" type="checkbox" value="menbVisitFour" data-checkbox-exclusive-group="vaccinesVisitFour-list">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="vaccinesVisitFour-3">
                        Men B (3rd dose)
                      </label>
                    </div>
                    
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="vaccinesVisitFour-4" name="vaccinesVisitFour" type="checkbox" value="hibmencVisitFour" aria-describedby="vaccinesVisitFour-4-item-hint" data-checkbox-exclusive-group="vaccinesVisitFour-list">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="vaccinesVisitFour-4">
                        Hib / Men C
                      </label>
                      <div class="nhsuk-hint nhsuk-checkboxes__hint" id="vaccinesVisitFour-4-item-hint">
                        For children born on or before 30 June 2024
                      </div>
                    </div>

                    <div class="nhsuk-checkboxes__divider">or</div>

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="vaccinesVisitFour-5" name="vaccinesVisitFour" type="checkbox" value="allVisitFour" data-checkbox-exclusive data-checkbox-exclusive-group="vaccinesVisitFour-list">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="vaccinesVisitFour-4">
                        Select all visit 4 vaccines
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

            </div>
          </details>
        </div>

        <div id="visitFive">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Visit 5 from 18 months
              </span>
            </summary>
            <div class="nhsuk-details__text">
            </div>
          </details>
        </div>

        <div id="visitSix">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Visit 6 from 3 years 4 months
              </span>
            </summary>
            <div class="nhsuk-details__text">
            </div>
          </details>
        </div>

        <button class="nhsuk-button nhsuk-u-margin-top-4" data-module="nhsuk-button" type="submit">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}