{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set pageTitle = "Template" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ radios({
        idPrefix: "example-hints",
        name: "exampleHints",
        fieldset: {
          legend: {
            text: pageTitle,
            size: "l",
            isPageHeading: true
          }
        },
        hint: {
          text: "Select 1 option"
        },
        items: [
          {
            value: "rsv-invitation",
            text: "RSV invitation"
          },
          {
            value: "rsv-reminder",
            text: "RSV reminder"
          },
          {
            value: "flu-invitation",
            text: "Flu invitation"
          }
        ]
      }) }}

      <div class="nhsuk-button-group">
        {{ button({
          text: "Continue"
        }) }}
      </div>

    </div>
  </div>
{% endblock %}