{% extends 'layout.html' %}

{% set pageName = "Email inbox" %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-l">Email inbox</h1>

      <div class="app-email-preview">
        <p class="nhsuk-body">Subject: Your list of pregnant patients is ready</p>

        <p class="nhsuk-body">Dear {{ data.firstName }} {{ data.lastName }},</p>
        <p class="nhsuk-body">Your upload to the Record a vaccination service (RAVS) is complete and you can <a href="/mvp-patient-list-and-export/patients?showData&filtersApplied&scenario&researchSession" class="nhsuk-link">view your new list of pregnant patients</a>.</p>
        <p class="nhsuk-body">The patient information you uploaded has been checked and matched to the vaccination information we already hold.</p>
        <p class="nhsuk-body">We removed patients in your CSV file that did not have an NHS number. Those patients do not appear in your list of pregnant patients in RAVS.</p>
        <h2 class="nhsuk-heading-s">Questions and support</h2>
        <p class="nhsuk-body">If you have any questions about using RAVS, contact our support team by going to <a href="https://www.ravs.england.nhs.uk/help-and-support" class="nhsuk-link">Record a vaccination: Help and support</a>.</p>
        <p class="nhsuk-body">Kind regards,<br>NHS Record a vaccination</p>

        <p class="nhsuk-body">Do not reply to this email as we do not check this inbox.</p>
        <!--<p>To contact us, go to: <a href="https://www.ravs.england.nhs.uk/help-and-support" class="nhsuk-link">Record a vaccination: Help and support</a>.</p>-->
      </div>

      {% if data.researchSession == "one" %}
        <div class="nhsuk-notification-banner nhsuk-u-margin-top-8" data-module="nhsuk-notification-banner" role="region" aria-labelledby="nhsuk-notification-banner-title">
          <div class="nhsuk-notification-banner__header">
            <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
              Research interrupt
            </h2>
          </div>
          <div class="nhsuk-notification-banner__content">
            <p class="nhsuk-notification-banner__heading">
              <a href="/mvp-patient-list-and-export/patients?showData&filtersApplied&scenario&researchSession">View patient list</a>
            </p>
          </div>
        </div>
      {% endif %}

      <a href="#" class="nhsuk-back-link nhsuk-u-margin-top-0" onclick="window.history.back(); return false;">Go back</a>

    </div>
  </div>
{% endblock %}