{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Patients" %}

{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item">
        <a class="nhsuk-breadcrumb__link" href="landing">Maternity</a>
      </li>
    </ol>
    <a class="nhsuk-back-link" href="landing">
      <span class="nhsuk-u-visually-hidden">Back to</span> Maternity
    </a>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        {{ pageTitle }}
      </h1>

      {% if data.scenario == "processing" %}
        <p class="nhsuk-body">Your list of pregnant patients is currently unavailable because we are processing information from a recent file upload.</p>
        <p class="nhsuk-body">You will get an email when this is complete.</p>
        <p class="nhsuk-body"><a href="change-log?uploadedList=processing">View patient upload history</a>.</p>
      {% else %}
        <p class="nhsuk-body">No pregnant patients have been added for your organisation.</p>
        <a href="add-patients?scenario=firstUpload" class="nhsuk-button" data-module="nhsuk-button">Add patients</a>
      {% endif %}

    </div>
  </div>
{% endblock %}