{% extends 'layouts/ravs-plus-layout-1-maternity.html' %}

{% set currentSection = "plus" %}

{% set pageTitle = "Upload complete" %}
  
{% block pageTitle %}
  {{ pageTitle }} - Record a vaccination - NHS
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--interruption">
        <h1 class="nhsuk-panel__title">
          {{ pageTitle }}
        </h1>
      </div>
      <p class="nhsuk-body">
        We are checking the records you uploaded match the vaccination information we hold about your patients. 
        Any patients in your CSV file that do not have an NHS number will not appear in your list of pregnant patients in RAVS.
      </p>
      <p class="nhsuk-body">
        This process could take several hours. You cannot view your list of patients during this time.
      </p>
      <p class="nhsuk-body">
        You will get an email when the check is complete.
      </p>
      <p class="nhsuk-body"><a href="change-log?uploadedList=processing">View patient upload history</a>.</p>

    </div>
  </div>
{% endblock %}