<div id="addedBatchBanner" class=" nhsuk-notification-banner nhsuk-notification-banner--success" role="region" aria-labelledby=" nhsuk-notification-banner-title" data-module=" nhsuk-notification-banner">
  <div class=" nhsuk-notification-banner__header">
    <h2 class=" nhsuk-notification-banner__title" id=" nhsuk-notification-banner-title">
      Update
    </h2>
  </div>
  <div class=" nhsuk-notification-banner__content">
    <h3 class=" nhsuk-notification-banner__heading">
      {{data['sessionVaccine']}} {{data['sessionProduct']}} has been added to {{ data['sessionDate']}}, session 09:00 - 17:00
    </h3>
  </div>
</div>