<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{# extends '../../create-availability/layout.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Site overview Hornsey Central Pharmacy
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% from 'breadcrumb/macro.njk' import breadcrumb %}

{{ breadcrumb({
items: [
{
href: "#",
text: "Home"
},
{
href: "#",
text: "Hornsey Central Pharmacy"
}
],
href: "#",
text: "Users"
},

{
    href: "#",
    text: "New user"
    }



)

}}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      

      <h1 class="nhsuks-heading-l">Additional details</h1>



        
      <form action="check-and-add" method="post" novalidate="true">

<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="first-name">
    First name
  </label>
    <input class="nhsuk-input nhsuk-input--width-20" id="first-name" name="first-name" type="text">
</div> 


        


<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="last-name">
    Last name
  </label>
    <input class="nhsuk-input nhsuk-input--width-20" id="last-name" name="surname" type="text">
</div> 


        


<div class="nhsuk-form-group">
  <label class="nhsuk-label" for="email">
    Email address
  </label>
    <input class="nhsuk-input" id="email" name="email" type="email">
</div> 


{% from 'checkboxes/macro.njk' import checkboxes %}

  {{ checkboxes({
    idPrefix: "roles",
    name: "roles",
    fieldset: {
      legend: {
        text: "Roles",
        classes: "nhsuk-fieldset__legend--m",
        isPageHeading: true
      }
    },

    items: [
      {
        value: "appointment-manager",
        text: "Appointment manager",
        hint: {
          text: "A user can view and cancel appointments"
        }
      },
      {
        value: "availability-manager",
        text: "Availability manager",
        hint: {
          text: "A user can create, view and manage site availability"
        }
      },
      {
        value: "site-details-manager",
        text: "Site details manager",
        hint: {
          text: "A user can edit site details and accessibility information"
        }
      },
      {
        value: "user-manager",
        text: "User manager",
        hint: {
          text: "A user can view and manage user role assignments"
        }
        
      }
    ]
  }) }}




<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Continue
</button>
</form>

      


    </div>
  </div>
{% endblock %}