<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{# extends '../../create-availability/layout.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <span class="nhsuk-caption-l">Birmingham Women's Hospital</span>
      <h1 class="nhsuk-heading-l">Create weekly session</h1>

      <h2 class="nhsuk-heading-m">Add services to your session</h2>

      <form action="check-days" class="form">
        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">

            <form>

              <div class="nhsuk-form-group">
            
                <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  </legend>
                        
                  <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">
            
                    <!--<div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="service-1" name="service" type="checkbox" value="covid" aria-controls="conditional-contact-1" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="service-1">
                        Covid
                      </label>
                    </div>-->
            
                    <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-1">
            
                      <div class="nhsuk-form-group">
                        <div class="nhsuk-checkboxes">

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                              5-11
                            </label>
                          </div>
                  
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                              12-15
                            </label>
                          </div>
                  
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              16-17
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              18-74
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              75+
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              All services
                            </label>
                          </div>
                  
                        </div>
                      </div>
            
                    </div>
            
                    <!-- <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="service-2" name="service" type="checkbox" value="flu" aria-controls="conditional-contact-2" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="service-2">
                        Flu
                      </label>
                    </div>
            
                    <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-2">
            
                      <div class="nhsuk-form-group">
                        <div class="nhsuk-checkboxes">

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="service-3" name="service" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="service-3">
                              18-64
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="service-4" name="service" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="service-4">
                              65+
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              All services
                            </label>
                          </div>
                  
                        </div>
                      </div>

            
                    </div>
            
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="service-3" name="service" type="checkbox" value="Shingles" aria-controls="conditional-contact-3" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="service-3">
                        Shingles
                      </label>
                    </div>
            
                    <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-3">
            
                      <div class="nhsuk-form-group">
                        <div class="nhsuk-checkboxes">

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                              5-11
                            </label>
                          </div>
                  
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                              12-15
                            </label>
                          </div>
                  
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              16-17
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              18-74
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              75+
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              All services
                            </label>
                          </div>
                  
                        </div>
                      </div>

            
                    </div>

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="service-4" name="service" type="checkbox" value="Pneumonia" aria-controls="conditional-contact-4" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="service-4">
                        Pneumonia
                      </label>
                    </div>
            
                    <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-4">
            
                      <div class="nhsuk-form-group">
                        <div class="nhsuk-checkboxes">

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                              5-11
                            </label>
                          </div>
                  
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                              12-15
                            </label>
                          </div>
                  
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              16-17
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              18-74
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              75+
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              All services
                            </label>
                          </div>
                  
                        </div>
                      </div>

            
                    </div> -->

                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="service-5" name="service" type="checkbox" value="RSV" aria-controls="conditional-contact-5" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="service-5">
                        RSV adult (incl pregnancy)
                      </label>
                    </div>
            
                    <div class="nhsuk-checkboxes__item">
                      <input class="nhsuk-checkboxes__input" id="service-5" name="service" type="checkbox" value="RSV" aria-controls="conditional-contact-5" aria-expanded="false">
                      <label class="nhsuk-label nhsuk-checkboxes__label" for="service-5">
                        Pertussis
                      </label>
                    </div>

                    <!-- <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-5">
            
                      <div class="nhsuk-form-group">
                        <div class="nhsuk-checkboxes">

                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
                              5-11
                            </label>
                          </div>
                  
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
                              12-15
                            </label>
                          </div>
                  
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              16-17
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              18-74
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              75+
                            </label>
                          </div>
                          <div class="nhsuk-checkboxes__item">
                            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
                            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
                              All services
                            </label>
                          </div>
                  
                        </div>
                      </div>

            
                    </div> -->

                  </div>
                </fieldset>
            
              </div>
            

          </fieldset><br><br>

        
        </div>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
      </form>
      

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
