<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{# extends '../../create-availability/layout.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <span class="nhsuk-caption-l">Birmingham Women's Hospital</span>
      <h1 class="nhsuk-heading-l">Add services to your session</h1>

      <form action="check-day" class="form">
        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset nhsuk-u-padding-bottom-4" aria-describedby="example-hint" role="group">

            {% if (data['e2eCurrentUserType'] != 'infant') and (data['e2eCurrentUserType'] != 'OH') %}
              {{ checkboxes({
                idPrefix: "services",
                name: "services",
                classes: "nhsuk-u-margin-bottom-2",
                fieldset: {
                  legend: {
                    text: "Select the vaccines that will be offered at this session.",
                    classes: "nhsuk-fieldset__legend",
                    isPageHeading: false
                  }
                },
                items: [
                  {
                    value: "RSV",
                    text: "RSV"
                  },
                  {
                    value: "Covid",
                    text: "Covid"
                  },
                  {
                    value: "Flu",
                    text: "Flu"
                  },
                  {
                    value: "Pertussis",
                    text: "Pertussis"
                  }
                ]
              }) }}

              {{ checkboxes({
                idPrefix: "pathways",
                name: "pathways",
                fieldset: {
                  legend: {
                    text: "Select the pathways offered at this session.",
                    classes: "nhsuk-fieldset__legend",
                    isPageHeading: false
                  }
                },
                items: [
                  {
                    value: "Seasonal",
                    text: "Seasonal"
                  },
                  {
                    value: "Maternity",
                    text: "Maternity"
                  },
                  {
                    value: "Infants",
                    text: "Infants"
                  },
                  {
                    value: "OccupationalHealth",
                    text: "Occupational Health"
                  }
                ]
              }) }}
            {% else %}
              {{ checkboxes({
                idPrefix: "services",
                name: "services",
                fieldset: {
                  legend: {
                    text: "Select all options that are relevant to you.",
                    classes: "nhsuk-fieldset__legend",
                    isPageHeading: false
                  }
                },
                items: [
                  {
                    value: "rsv",
                    text: "RSV adult"
                  },
                  {
                    value: "Covid 18+",
                    text: "Covid 18+"
                  },
                  {
                    value: "Flu and Covid 18-65",
                    text: "Flu and Covid 18-65"
                  },
                  {
                    value: "Pertussis",
                    text: "Pertussis"
                  },
                  {
                    divider: "or"
                  },
                  {
                    value: "all",
                    text: "Select all vaccines",
                    exclusive: true
                  }
                ]
              }) }}
            {% endif %}

          </fieldset>
        
        </div>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
      </form>

    </div>
  </div>
{% endblock %}