{% extends 'e2e-layout3-index-only.html' %}

{% set pageName = "NHS Record a vaccination prototypes" %}

{% block content %}
	<div class="nhsuk-grid-row">
    	<div class="nhsuk-grid-column-full">

			<h1 class="nhsuk-heading-xl">
        		VDS E2E MVP prototype
			</h1>

			<h2 class="nhsuk-heading-l">
        		Landing page quick links
			</h2>

			{# QUICK LINKS #}
			<ul class="nhsuk-grid-row nhsuk-card-group">
				<li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
					<div class="nhsuk-card nhsuk-card--clickable">
						<div class="nhsuk-card__content nhsuk-card__content--primary">
							<h3 class="nhsuk-card__heading nhsuk-heading-s"> <a class="nhsuk-card__link" href="/iteration-2/index?e2eCurrentUserType">Clinician</a> </h3>
							<svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
								<path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
							</svg>
						</div>
					</div>
				</li>
				<li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
					<div class="nhsuk-card nhsuk-card--clickable">
						<div class="nhsuk-card__content nhsuk-card__content--primary">
							<h3 class="nhsuk-card__heading nhsuk-heading-s"> <a class="nhsuk-card__link" href="/iteration-2/index?e2eCurrentUserType=infant">Infant</a> </h3>
							<svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
								<path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
							</svg>
						</div>
					</div>
				</li>
				<li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
					<div class="nhsuk-card nhsuk-card--clickable">
						<div class="nhsuk-card__content nhsuk-card__content--primary">
							<h3 class="nhsuk-card__heading nhsuk-heading-s"> <a class="nhsuk-card__link" href="/iteration-2/index?e2eCurrentUserType=OH">Occupational Health</a> </h3>
							<svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
								<path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
							</svg>
						</div>
					</div>
				</li>
			</ul>

			<h2 class="nhsuk-heading-l nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-0">
        		Individual journey links
			</h2>

			{# MOJ Navigation START #}
			<nav class="moj-sub-navigation nhsuk-u-padding-bottom-2" aria-label="Sub navigation">
				<ul class="moj-sub-navigation__list">
					<li class="moj-sub-navigation__item">
						<a class="moj-sub-navigation__link" href="index">Clinician &amp; admin</a>
					</li>
					<li class="moj-sub-navigation__item">
						<a class="moj-sub-navigation__link" href="index-infant">Infant</a>
					</li>
					<li class="moj-sub-navigation__item">
						<a class="moj-sub-navigation__link" aria-current="page">Occupational Health</a>
					</li>
				</ul>
			</nav>
			{# MOJ Navigation END #}
		</div>
	</div>

	<div class="nhsuk-grid-row">
    	<div class="nhsuk-grid-column-two-thirds">

			<table class="nhsuk-table">
				<thead class="nhsuk-table__head">

					<tr class="nhsuk-table__row">
						<td class="nhsuk-table__cell"><strong>Kirsty Green (OH user)</strong></td>
						<td class="nhsuk-table__cell"><a href="iteration-2/index?e2eCurrentUserType=OH">Portal landing page</a></td>
					</tr>

					<tr class="nhsuk-table__row">
						<td class="nhsuk-table__cell"><strong>Clinic manager's dashboard</strong></td>
						<td class="nhsuk-table__cell">
							<a href="/dashboard/index?e2eCurrentUserType=OH">Dashboard</a>
						</td>
					</tr>

				</tbody>
			</table>

	    </div>
  	</div>
{% endblock %}
