{% extends 'e2e-layout3-index-only.html' %}

{% set pageName = "Design playground" %}

{% block content %}
  <div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-two-thirds">

			<h1 class="nhsuk-heading-xl">
				Design playground
			</h1>

			<table class="nhsuk-table">
				<thead class="nhsuk-table__head">

					<tr class="nhsuk-table__row">
						<td class="nhsuk-table__cell"><strong>Filters and eligibility v1</strong></td>
						<td class="nhsuk-table__cell"><a href="/playground/filters-v1">filters-v1.html</a></td>
					</tr>

					<tr class="nhsuk-table__row">
						<td class="nhsuk-table__cell"><strong>Filters and eligibility v2</strong></td>
						<td class="nhsuk-table__cell"><a href="/playground/filters-v2">filters-v2.html</a></td>
					</tr>

					<tr class="nhsuk-table__row">
						<td class="nhsuk-table__cell"><strong>Filters and eligibility v3</strong></td>
						<td class="nhsuk-table__cell"><a href="/playground/filters-v3">filters-v3.html</a></td>
					</tr>

					<tr class="nhsuk-table__row">
						<td class="nhsuk-table__cell"><strong>Filters and eligibility v4</strong></td>
						<td class="nhsuk-table__cell"><a href="/playground/filters-v4">filters-v4.html</a></td>
					</tr>

					<tr class="nhsuk-table__row">
						<td class="nhsuk-table__cell"><strong>Chart examples WIP</strong></td>
						<td class="nhsuk-table__cell"><a href="/playground/chart-examples-wip">chart-examples-wip.html</a></td>
					</tr>

					<tr class="nhsuk-table__row">
						<td class="nhsuk-table__cell"><strong>Chart examples (extended)</strong></td>
						<td class="nhsuk-table__cell"><a href="/playground/chart-examples">chart-examples.html</a></td>
					</tr>

			</tbody>
		</table>

	</div>
</div>
{% endblock %}
