<table class="nhsuk-table" data-module="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-table__caption--m">Pertussis</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="ascending">Patient</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Due date</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Weeks pregnant<wbr> (eligible from)</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Eligibility</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Last vaccination</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row">
      {#<td>P001</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row"><a href="#/" class="nhsuk-link">Bailey, Sarah<br>(1048327715)</a></th>
      <td class="nhsuk-table__cell">6 May 2026</td>
      <td class="nhsuk-table__cell">39 weeks<br>(11 Feb 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">Urgent</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P002</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Edwards, Janet<br>(5892046632)</a></th>
      <td class="nhsuk-table__cell">18 May 2026</td>
      <td class="nhsuk-table__cell">37 weeks<br>(23 Feb 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">Urgent</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P003</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Barnes, Carole<br>(7713950284)</a></th>
      <td class="nhsuk-table__cell">2 Jun 2026</td>
      <td class="nhsuk-table__cell">35 weeks<br>(10 Mar 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange">Declined</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P004</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Stevenson, Maureen<br>(2368809147)</a></th>
      <td class="nhsuk-table__cell">15 Jun 2026</td>
      <td class="nhsuk-table__cell">33 weeks<br>(23 Mar 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></td>
      <td class="nhsuk-table__cell">28 Mar 2026</td>
    </tr>
    <tr role="row">
      {#<td>P005</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Burns, Anne<br>(9154473026)</a></th>
      <td class="nhsuk-table__cell">29 Jun 2026</td>
      <td class="nhsuk-table__cell">31 weeks<br>(6 Apr 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></td>
      <td class="nhsuk-table__cell">5 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P006</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Williams, Natasha<br>(3481297753)</a></th>
      <td class="nhsuk-table__cell">10 Jul 2026</td>
      <td class="nhsuk-table__cell">29 weeks<br>(17 Apr 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P007</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Davison, Joyce<br>(6625401988)</a></th>
      <td class="nhsuk-table__cell">24 Jul 2026</td>
      <td class="nhsuk-table__cell">27 weeks<br>(1 May 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P008</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Bennett, Jenna<br>(7032164591)</a></th>
      <td class="nhsuk-table__cell">6 Aug 2026</td>
      <td class="nhsuk-table__cell">25 weeks<br>(14 May 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></td>
      <td class="nhsuk-table__cell">18 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P009</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Davison, Michelle<br>(8297710346)</a></th>
      <td class="nhsuk-table__cell">20 Aug 2026</td>
      <td class="nhsuk-table__cell">23 weeks<br>(28 May 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></td>
      <td class="nhsuk-table__cell">2 May 2026</td>
    </tr>
    <tr role="row">
      {#<td>P010</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Begum, Nicola<br>(4519032287)</a></th>
      <td class="nhsuk-table__cell">3 Sep 2026</td>
      <td class="nhsuk-table__cell">21 weeks<br>(12 Jun 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P011</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">King, Charlene<br>(6671185902)</a></th>
      <td class="nhsuk-table__cell">17 Sep 2026</td>
      <td class="nhsuk-table__cell">19 weeks<br>(26 Jun 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange">Declined</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P012</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Chambers, Katherine<br>(2946608735)</a></th>
      <td class="nhsuk-table__cell">30 Sep 2026</td>
      <td class="nhsuk-table__cell">17 weeks<br>(9 Jul 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P013</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Shaw, Joyce<br>(8305521494)</a></th>
      <td class="nhsuk-table__cell">14 Oct 2026</td>
      <td class="nhsuk-table__cell">15 weeks<br>(23 Jul 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P014</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Hobbs, Molly<br>(1724496008)</a></th>
      <td class="nhsuk-table__cell">28 Oct 2026</td>
      <td class="nhsuk-table__cell">13 weeks<br>(6 Aug 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P015</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">O'Sullivan, Francesca<br>(9057312843)</a></th>
      <td class="nhsuk-table__cell">11 Nov 2026</td>
      <td class="nhsuk-table__cell">11 weeks<br>(20 Aug 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P016</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Power, Elaine<br>(3180675592)</a></th>
      <td class="nhsuk-table__cell">25 Nov 2026</td>
      <td class="nhsuk-table__cell">9 weeks<br>(3 Sep 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P017</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Phillips, Maureen<br>(7468821307)</a></th>
      <td class="nhsuk-table__cell">9 Dec 2026</td>
      <td class="nhsuk-table__cell">7 weeks<br>(17 Sep 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P018</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Brown, Sally<br>(5293047716)</a></th>
      <td class="nhsuk-table__cell">23 Dec 2026</td>
      <td class="nhsuk-table__cell">5 weeks<br>(30 Sep 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#td>P019</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Brown, Sharon<br>(6812204985)</a></th>
      <td class="nhsuk-table__cell">6 Jan 2027</td>
      <td class="nhsuk-table__cell">3 weeks<br>(14 Oct 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P020</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Page, Michelle<br>(4079931562)</a></th>
      <td class="nhsuk-table__cell">20 Jan 2027</td>
      <td class="nhsuk-table__cell">1 week<br>(28 Oct 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
  </tbody>
</table>

{{ pagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: "#",
      current: true
    },
    {
      ellipsis: true
    },
    {
      number: 8,
      href: "#"
    },
    {
      number: 9,
      href: "#"
    },
    {
      number: 10,
      href: "#"
    },
    {
      number: 11,
      href: "#"
    },
    {
      number: 12,
      href: "#"
    },
    {
      ellipsis: true
    },
    {
      number: 42,
      href: "#"
    }
  ]
}) }}