<table class="nhsuk-table" data-module="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-table__caption--m">RSV</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="ascending">Patient</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Due date</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Weeks pregnant (eligible from)</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Eligibility</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Last vaccination</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body--s">
    <tr role="row">
      {#<td>P001</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row"><a href="#/" class="nhsuk-link">Bailey, Sarah<br>(<span class="nhsuk-u-nowrap">1048327715</span>)</a></th>
      <td class="nhsuk-table__cell">6 May 2026</td>
      <td class="nhsuk-table__cell">39 weeks<br>(11 Feb 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">Urgent</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P002</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Edwards, Janet<br>(<span class="nhsuk-u-nowrap">5892046632</span>)</a></th>
      <td class="nhsuk-table__cell">18 May 2026</td>
      <td class="nhsuk-table__cell">37 weeks<br>(23 Feb 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red">Urgent</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P003</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Barnes, Carole<br>(<span class="nhsuk-u-nowrap">7713950284</span>)</a></th>
      <td class="nhsuk-table__cell">2 Jun 2026</td>
      <td class="nhsuk-table__cell">35 weeks<br>(10 Mar 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange">Declined</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P004</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Stevenson, Maureen<br>(<span class="nhsuk-u-nowrap">2368809147</span>)</a></th>
      <td class="nhsuk-table__cell">15 Jun 2026</td>
      <td class="nhsuk-table__cell">33 weeks<br>(23 Mar 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></td>
      <td class="nhsuk-table__cell">25 Mar 2026</td>
    </tr>
    <tr role="row">
      {#<td>P005</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Burns, Anne<br>(<span class="nhsuk-u-nowrap">9154473026</span>)</a></th>
      <td class="nhsuk-table__cell">29 Jun 2026</td>
      <td class="nhsuk-table__cell">31 weeks<br>(6 Apr 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green">Vaccinated</strong></td>
      <td class="nhsuk-table__cell">10 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P006</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Williams, Natasha<br>(<span class="nhsuk-u-nowrap">3481297753</span>)</a></th>
      <td class="nhsuk-table__cell">10 Jul 2026</td>
      <td class="nhsuk-table__cell">29 weeks<br>(17 Apr 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P007</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Davison, Joyce<br>(<span class="nhsuk-u-nowrap">6625401988</span>)</a></th>
      <td class="nhsuk-table__cell">24 Jul 2026</td>
      <td class="nhsuk-table__cell">27 weeks<br>(1 May 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P008</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Bennett, Jenna<br>(<span class="nhsuk-u-nowrap">7032164591</span>)</a></th>
      <td class="nhsuk-table__cell">6 Aug 2026</td>
      <td class="nhsuk-table__cell">25 weeks<br>(14 May 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P009</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Davison, Michelle<br>(<span class="nhsuk-u-nowrap">8297710346</span>)</a></th>
      <td class="nhsuk-table__cell">20 Aug 2026</td>
      <td class="nhsuk-table__cell">23 weeks<br>(28 May 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P010</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Begum, Nicola<br>(<span class="nhsuk-u-nowrap">4519032287</span>)</a></th>
      <td class="nhsuk-table__cell">3 Sep 2026</td>
      <td class="nhsuk-table__cell">21 weeks<br>(12 Jun 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P011</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">King, Charlene<br>(<span class="nhsuk-u-nowrap">6671185902</span>)</a></th>
      <td class="nhsuk-table__cell">17 Sep 2026</td>
      <td class="nhsuk-table__cell">19 weeks<br>(26 Jun 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P012</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Chambers, Katherine<br>(<span class="nhsuk-u-nowrap">2946608735</span>)</a></th>
      <td class="nhsuk-table__cell">30 Sep 2026</td>
      <td class="nhsuk-table__cell">17 weeks<br>(9 Jul 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P013</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Shaw, Joyce<br>(<span class="nhsuk-u-nowrap">8305521494</span>)</a></th>
      <td class="nhsuk-table__cell">14 Oct 2026</td>
      <td class="nhsuk-table__cell">15 weeks<br>(23 Jul 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P014</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Hobbs, Molly<br>(<span class="nhsuk-u-nowrap">1724496008</span>)</a></th>
      <td class="nhsuk-table__cell">28 Oct 2026</td>
      <td class="nhsuk-table__cell">13 weeks<br>(6 Aug 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P015</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">O'Sullivan, Francesca<br>(<span class="nhsuk-u-nowrap">9057312843</span>)</a></th>
      <td class="nhsuk-table__cell">11 Nov 2026</td>
      <td class="nhsuk-table__cell">11 weeks<br>(20 Aug 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P016</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Power, Elaine<br>(<span class="nhsuk-u-nowrap">3180675592</span>)</a></th>
      <td class="nhsuk-table__cell">25 Nov 2026</td>
      <td class="nhsuk-table__cell">9 weeks<br>(3 Sep 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P017</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Phillips, Maureen<br>(<span class="nhsuk-u-nowrap">7468821307</span>)</a></th>
      <td class="nhsuk-table__cell">9 Dec 2026</td>
      <td class="nhsuk-table__cell">7 weeks<br>(17 Sep 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P018</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Brown, Sally<br>(<span class="nhsuk-u-nowrap">5293047716</span>)</a></th>
      <td class="nhsuk-table__cell">23 Dec 2026</td>
      <td class="nhsuk-table__cell">5 weeks<br>(30 Sep 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#td>P019</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Brown, Sharon<br>(<span class="nhsuk-u-nowrap">6812204985</span>)</a></th>
      <td class="nhsuk-table__cell">6 Jan 2027</td>
      <td class="nhsuk-table__cell">3 weeks<br>(14 Oct 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
    <tr role="row">
      {#<td>P020</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Page, Michelle<br>(<span class="nhsuk-u-nowrap">4079931562</span>)</a></th>
      <td class="nhsuk-table__cell">20 Jan 2027</td>
      <td class="nhsuk-table__cell">1 week<br>(28 Oct 2026)</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey">Not yet eligible</strong></td>
      <td class="nhsuk-table__cell nhsuk-u-secondary-text-colour">No data</td>
    </tr>
  </tbody>
</table>

<div class="nhsuk-pagination-wrapper nhsuk-u-margin-top-6">
  <div class="nhsuk-pagination-wrapper__pagination">
    {{ pagination({
      next: {
        href: "#"
      },
      items: [
        {
          number: 1,
          href: "#",
          current: true
        },
        {
          ellipsis: true
        },
        {
          number: 8,
          href: "#"
        },
        {
          number: 9,
          href: "#"
        },
        {
          number: 10,
          href: "#"
        },
        {
          number: 11,
          href: "#"
        },
        {
          number: 12,
          href: "#"
        },
        {
          ellipsis: true
        },
        {
          number: 42,
          href: "#"
        }
      ]
    }) }}
  </div>

  <div class="nhsuk-pagination-wrapper__results">
    Showing 1 to 20 of 1,254 patients
  </div>
</div>