{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}

{% block pageTitle %}
  Choose patient list view
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/iteration-2/">Home</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/iteration-2/landing-organise-clinics">Organise clinics</a></li>
      <li class="nhsuk-breadcrumb__list-item">Patient list view{#Understand my cohort#}</li>
    </ol>
    <a class="nhsuk-back-link" href="javascript:history.back()">
      Go back
    </a>
  </nav>
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">
      Choose patient list view
    </h1>

    <p class="nhsuk-body">
      View patient level information about vaccine uptake.
    </p>

    <form method="post" action="/send-invites/mvp-choose-cohort">

      {# CHOOSE INVITE TYPES #}
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend">
          Choose:<span class="nhsuk-u-visually-hidden"> your view</span>
        </legend>
        <div class="nhsuk-radios nhsuk-u-margin-bottom-6" data-module="nhsuk-radios">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="rsv" name="invite-type" type="radio" value="rsv">
            <label class="nhsuk-label nhsuk-radios__label" for="invite-pertussis">
              RSV view
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="invite-rsv" name="invite-type" type="radio" value="pertussis">
            <label class="nhsuk-label nhsuk-radios__label" for="invite-rsv">
              Pertussis view
            </label>
          </div>
          
          {# START: MATERNITY UR W/C 10th NOVEMBER #}
          <div class="nhsuk-radios__divider">or</div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="invite-all" name="invite-type" type="radio" value="all">
            <label class="nhsuk-label nhsuk-radios__label" for="invite-all">
              All vaccine uptake information
            </label>
          </div>
          {# END: MATERNITY UR W/C 10th NOVEMBER #}

          {#
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="invite-covid-flu" name="invite-type" type="radio" value="seasonal">
            <label class="nhsuk-label nhsuk-radios__label" for="invite-covid-flu">
              Seasonal uptake overview
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="risk" name="invite-type" type="radio" value="risk">
            <label class="nhsuk-label nhsuk-radios__label" for="invite-td-ipv">
              Risk priorities focus
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="invite-clast-chance" name="invite-type" type="radio" value="lastweeks">
            <label class="nhsuk-label nhsuk-radios__label" for="invite-last-chance">
              Last weeks of pregnancy
            </label>
          </div>
          #}
          
        </div>

        <div class="nhsuk-button-group">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>
        </div>
      </fieldset>

    </form>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Current patient list information
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>
          {% if data['uploadedList'] == 'true' %}
            Current patient list being used is <strong>dataset-{{ date({ year: 'numeric' }) }}-{{ date({ month: '2-digit' }) }}-{{ date({ day: '2-digit' }) }}.csv</strong> (13.7MB), and was uploaded {{ date({day: 'numeric', month: 'long', year: 'numeric'}) }} by Chloe Liu
          {% else %}
            Current patient list being used is <strong>dataset-2025-08-22.csv</strong> (12.1MB), and was uploaded 22 August 2025 by Alex Smith
          {% endif %}
        </p>
        <p>Use <a href="patient-upload?uploadedList" class="nhsuk-link">Provide your patient list</a> to update patient list data.</p>
        
      </div>
    </details>

  </div>
</div>

{% endblock %}