{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}

{% block pageTitle %}
  Upload new patient list
{% endblock %}

{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/iteration-2/">Home</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/iteration-2/landing-organise-clinics">Organise clinics</a></li>
      <li class="nhsuk-breadcrumb__list-item">Upload new patient cohort list</li>
    </ol>
    <a class="nhsuk-back-link" href="javascript:history.back()">
      Go back
    </a>
  </nav>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {# PATIENT UPLOAD NOTIFICATION BANNER #}
      {% if data['uploadedList'] == 'true' %}
        <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
          <div class="nhsuk-notification-banner__header">
            <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="nhsuk-notification-banner__content">
            <h3 class="nhsuk-notification-banner__heading">
              Current patient cohort list updated
            </h3>
            <p>
              The patient cohort list <strong>dataset-{{ date({ year: 'numeric' }) }}-{{ date({ month: '2-digit' }) }}-{{ date({ day: '2-digit' }) }}.csv</strong> (13.7MB) was successfully uploaded on {{ date({day: 'numeric', month: 'long', year: 'numeric'}) }} by Chloe Liu.
            </p>
          </div>
        </div>
      {% endif %}

      {# MANAGE PATIENT LISTS #}
      <h1 class="nhsuk-heading-l">
        Upload new patient cohort list
      </h1>

      <p class="nhsuk-body">
        Use this function to upload new and updated patient cohort lists to RAVS. It is important to upload all patients currently in the care of your department. You can remove patients from this cohort list.
      </p>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Guidance on how to structure inputted data
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Data required:</p>
          <ul>
            <li>All patients where: pregnancy status = yes AND week 10+ into pregnancy</li>
            <li>Patient name</li>
            <li>NHS number</li>
            <li>Pregnancy status = yes</li>
            <li>Confirmation that each vaccination has been explained and offered</li>
            <li>Due date</li>
            <li>Phone number</li>
            <li>Address</li>
            <li>Contact preferences</li>
          </ul>
          <p class="nhsuk-body">
            We have created a <a href="#/" class="nhsuk-link">CSV upload template</a> for you to use.
          </p>
        </div>
      </details>

      <form class="form nhsuk-u-margin-bottom-4" action="uploading-v2?uploadedList=true" method="post" class="submit">
        <div class="govuk-form-group">
          <label class="nhsuk-label" for="file-upload-1">
            Upload patient cohort list
          </label>
          <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
        </div>

        <div class="govuk-button-group">
          <button type="submit" class="nhsuk-button nhsuk-u-margin-right-3" data-module="nhsuk-button">
            Upload file
          </button>
        </div>

      </form>
    </div>
  </div>

  {# PREVIOUS PATIENT LISTS UPLOADS #}
  <div class="nhsuk-grid-row">
    <!--<div class="nhsuk-grid-column-two-thirds">-->
    <div class="nhsuk-grid-column-full">

      <h2 class="nhsuk-heading-m">
        Previous patient cohort list uploads
      </h2>

      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Filename
          </dt>
          <dt class="nhsuk-summary-list__key">
            Uploaded
          </dt>
          <dt class="nhsuk-summary-list__key">
            Status
          </dt>
        </div>

        {# DYNAMIC ENTRY #}

        {% if data['uploadedList'] == 'true' %}
          <div class="nhsuk-summary-list__row">
            <dd class="nhsuk-summary-list__value">
              <a href="view-patient-list"><span class="nhsuk-u-visually-hidden">View </span>dataset-{{ date({ year: 'numeric' }) }}-{{ date({ month: '2-digit' }) }}-{{ date({ day: '2-digit' }) }}.csv</a>&nbsp;(13.7MB)
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ date({day: 'numeric', month: 'long', year: 'numeric'}) }}<br>Chloe Liu
            </dd>
            <dd class="nhsuk-summary-list__value">
              <strong class="nhsuk-tag nhsuk-tag--aqua-green">Current list</strong>
            </dd>
          </div>
        {% endif %}

        <div class="nhsuk-summary-list__row">
          <dd class="nhsuk-summary-list__value">
            {% if data['uploadedList'] != 'true' %}
              <a href="view-patient-list"><span class="nhsuk-u-visually-hidden">View </span>dataset-2025-08-22.csv</a>&nbsp;(12.1MB)
            {% else %}
              dataset-2025-08-22.csv&nbsp;(12.1MB)
            {% endif %}
          </dt>
          <dd class="nhsuk-summary-list__value">
            22 August 2025<br>Alex Smith
          </dd>
          <dd class="nhsuk-summary-list__value">
            {% if data['uploadedList'] == 'true' %}
              <strong class="nhsuk-tag">Processed</strong>
            {% else %}
              <strong class="nhsuk-tag nhsuk-tag--aqua-green">Current list</strong>
            {% endif %}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dd class="nhsuk-summary-list__value">
            dataset-2025-08-01.csv&nbsp;(9.6MB)
          </dt>
          <dd class="nhsuk-summary-list__value">
            1 August 2025<br>Katie Elliot
          </dd>
          <dd class="nhsuk-summary-list__value">
            <strong class="nhsuk-tag nhsuk-tag--red">Failed</strong>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dd class="nhsuk-summary-list__value">
            dataset-2025-07-28.csv&nbsp;(14.8MB)
          </dt>
          <dd class="nhsuk-summary-list__value">
            28 July 2025<br>Nadiya Thomas
          </dd>
          <dd class="nhsuk-summary-list__value">
            <strong class="nhsuk-tag">Processed</strong>
          </dd>
        </div>

      </dl>

      <!-- SEPARATE ACTIONS COLUMN LAYOUT -->
      <!--
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Filename
          </dt>
          <dt class="nhsuk-summary-list__key">
            Uploaded
          </dt>
          <dt class="nhsuk-summary-list__key">
            Status
          </dt>
          <dt class="nhsuk-summary-list__key">
            Actions
          </dt>
        </div>

        {# DYNAMIC ENTRY #}

        {% if data['uploadedList'] == 'true' %}
          <div class="nhsuk-summary-list__row">
            <dd class="nhsuk-summary-list__value">
              dataset-{{ date({ year: 'numeric' }) }}-{{ date({ month: '2-digit' }) }}-{{ date({ day: '2-digit' }) }}.csv (13.7MB)
            </dt>
            <dd class="nhsuk-summary-list__value">
              {{ date({day: 'numeric', month: 'long', year: 'numeric'}) }}<br>Chloe Liu
            </dd>
            <dd class="nhsuk-summary-list__value">
              <strong class="nhsuk-tag nhsuk-tag--aqua-green">Current list</strong>
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <ul class="nhsuk-list left-align-override">
                <li><a href="#/">View<span class="nhsuk-u-visually-hidden"> list</span></a></li>
                {#<li><a href="#/">Download<span class="nhsuk-u-visually-hidden"> list</span></a></li>
                <li><a href="#/">Compare<span class="nhsuk-u-visually-hidden"> with previous list</span></a></li>#}
              </ul>
            </dd>
          </div>
        {% endif %}

        <div class="nhsuk-summary-list__row">
          <dd class="nhsuk-summary-list__value">
            dataset-2025-08-22.csv (12.1MB)
          </dt>
          <dd class="nhsuk-summary-list__value">
            22 August 2025<br>Alex Smith
          </dd>
          <dd class="nhsuk-summary-list__value">
            {% if data['uploadedList'] == 'true' %}
              <strong class="nhsuk-tag">Processed</strong>
            {% else %}
              <strong class="nhsuk-tag nhsuk-tag--aqua-green">Current list</strong>
            {% endif %}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            {% if data['uploadedList'] != 'true' %}
              <ul class="nhsuk-list left-align-override">
                <li><a href="#/">View<span class="nhsuk-u-visually-hidden"> list</span></a></li>
                {#<li><a href="#/">Download<span class="nhsuk-u-visually-hidden"> list</span></a></li>
                <li><a href="#/">Compare<span class="nhsuk-u-visually-hidden"> with previous list</span></a></li>#}
              </ul>
            {% endif %}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dd class="nhsuk-summary-list__value">
            dataset-2025-08-01.csv (9.6MB)
          </dt>
          <dd class="nhsuk-summary-list__value">
            1 August 2025<br>Katie Elliot
          </dd>
          <dd class="nhsuk-summary-list__value">
            <strong class="nhsuk-tag nhsuk-tag--red">Failed</strong>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            {#<ul class="nhsuk-list left-align-override">
              <li><a href="#/">View<span class="nhsuk-u-visually-hidden"> list</span></a></li>
              <li><a href="#/">Download<span class="nhsuk-u-visually-hidden"> list</span></a></li>
              <li><a href="#/">Compare<span class="nhsuk-u-visually-hidden"> with previous list</span></a></li>
            </ul>#}
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dd class="nhsuk-summary-list__value">
            dataset-2025-07-28.csv (14.8MB)
          </dt>
          <dd class="nhsuk-summary-list__value">
            28 July 2025<br>Nadiya Thomas
          </dd>
          <dd class="nhsuk-summary-list__value">
            <strong class="nhsuk-tag">Processed</strong>
          </dd>
          <dd class="nhsuk-summary-list__actions">
            {#<ul class="nhsuk-list left-align-override">
              <li><a href="#/">View<span class="nhsuk-u-visually-hidden"> list</span></a></li>
              <li><a href="#/">Download<span class="nhsuk-u-visually-hidden"> list</span></a></li>
              <li><a href="#/">Compare<span class="nhsuk-u-visually-hidden"> with previous list</span></a></li>
            </ul>#}
          </dd>
        </div>

      </dl>
      -->
    </div>
  </div>
{% endblock %}
