<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{# extends '../../create-availability/layout.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <span class="nhsuk-caption-l">Birmingham Women's Hospital</span>
      <h1 class="nhsuk-heading-l">Create weekly session</h1>

      <h2 class="nhsuk-heading-m">Add start and end dates</h2>

      <form action="select-days" class="form">
        <div class="nhsuk-form-group">
          
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h5 class="nhsuk-heading-s">
                Start date
              </h5>
            </legend>
            <div class="nhsuk-hint" id="session-hint">
              For example, 15 3 1984
            </div>
        
            <div class="nhsuk-date-input" id="session">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="session-start-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="session-start-day" name="session-start-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="session-start-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="session-start-month" name="session-start-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="session-start-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="session-start-year" name="session-start-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset><br><br>

          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h5 class="nhsuk-heading-s">
                End date
              </h5>
            </legend>
            <div class="nhsuk-hint" id="session-hint">
              For example, 15 3 1984
            </div>
        
            <div class="nhsuk-date-input" id="session">
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="session-end-day">
                    Day
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="session-end-day" name="session-end-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="session-end-month">
                    Month
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="session-end-month" name="session-end-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="nhsuk-date-input__item">
                <div class="nhsuk-form-group">
                  <label class="nhsuk-label nhsuk-date-input__label" for="session-end-year">
                    Year
                  </label>
                  <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="session-end-year" name="session-end-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>

        
      
      </div>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
      </form>
      

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
