<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
{# extends 'current/layouts/layout-top-nav-sites.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}
<!--
 In /views/layout.html you can:
 - change the header and footer
 - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Manage appointments - {{site}} - 11 June 2025
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- Custom CSS for multi-select functionality -->
{% block head %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <!-- Change the page title here -->
    {#<span class="nhsuk-caption-l">{{site}}</span>
    <h1 class="nhsuk-heading-l">{{ date() }} </h1>#}

    <!-- Change the page title here -->
    <span class="nhsuk-caption-l">Hornsey Central Pharmacy</span>
    <h1 class="nhsuk-heading-l">{{ date() }}</h1>

    <form method="post">
      <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
        Print page
      </button>
    </form>



    <!-- Tabs -->
    <nav class="x-govuk-secondary-navigation" aria-label="Secondary menu">
      <ul class="x-govuk-secondary-navigation__list">


        <!--<li class="x-govuk-secondary-navigation__list-item">
                    <a class="x-govuk-secondary-navigation__link" href="/sessions" aria-current="page">
                      Today
                    </a>
                  </li>
                  
                
                  
                  <li class="x-govuk-secondary-navigation__list-item ">
                    <a class="x-govuk-secondary-navigation__link" href="/sessions/unplanned">
                      Unscheduled
                    </a>
                  </li>-->



        <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
          <a class="x-govuk-secondary-navigation__link" href="bookings-scheduled">
            Scheduled
          </a>
        </li>



        <!--<li class="x-govuk-secondary-navigation__list-item ">
                    <a class="x-govuk-secondary-navigation__link" href="bookings-completed">
                        Checked in
                    </a>
                  </li>-->



        <li class="x-govuk-secondary-navigation__list-item">
          <a class="x-govuk-secondary-navigation__link" href="bookings-cancelled">
            Cancelled
          </a>
        </li>


      </ul>
    </nav>

    <!-- Bulk Actions Bar - Always Visible -->
    <div class="bulk-actions" id="bulkActions">
      <div class="bulk-actions-content">
        <div class="selection-info" id="selectionInfo">
         <h3 class="nhsuk-heading-s">0 appointments selected</h3>
        </div>
        <div class="bulk-buttons">
          <button class="nhsuk-button" id="cancelButton" onclick="goToCancelConfirmation()"
            disabled>
            Cancel selected
          </button>
          <button class="nhsuk-button nhsuk-button--secondary" id="clearButton" onclick="clearSelection()" disabled>
            Clear
          </button>
        </div>
      </div>
    </div>

    <!-- Appointments Table -->
    <div class="nhsuk-table-responsive">
      <table class="nhsuk-table appointments-table">
        <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
          Scheduled appointments for {{site}} on 11 June 2025
        </caption>
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header checkbox-cell" scope="col">
              <input type="checkbox" class="select-all-checkbox" id="selectAll" onchange="toggleSelectAll()"
                aria-label="Select all appointments">
            </th>
            <th class="nhsuk-table__header" scope="col">Time</th>
            <th class="nhsuk-table__header" scope="col">Name and NHS number</th>
            <th class="nhsuk-table__header" scope="col">Date of birth</th>
            <th class="nhsuk-table__header" scope="col">Contact details</th>
            <th class="nhsuk-table__header" scope="col">Services</th>
            <th class="nhsuk-table__header" scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% set appointments = [
          {time: "8:30", name: "John Smith", nhs: "999 123 4567", dob: "1 January 1954", contact:
          "07712345678<br>john.smith@email.com", service: "RSV"},
          {time: "8:35", name: "Martin Lincoln", nhs: "999 123 4568", dob: "7 June 1958", contact:
          "martin.lincoln@email.com", service: "RSV"},
          {time: "8:45", name: "Mike Jones", nhs: "999 123 4569", dob: "15 October 1950", contact: "07712345678",
          service: "RSV"},
          {time: "8:50", name: "Clive Lochan", nhs: "999 123 4571", dob: "4 June 1947", contact:
          "07712345678<br>Clive1@email.com", service: "RSV"},
          {time: "8:45", name: "Norma Davies", nhs: "999 123 4570", dob: "26 August 1978", contact:
          "norma.davies78@email.com", service: "RSV"},
          {time: "8:50", name: "Dylan Barton", nhs: "999 123 4572", dob: "25 May 1950", contact: "07712345678", service:
          "RSV"},
          {time: "8:55", name: "Jacob Blick", nhs: "999 123 4573", dob: "3 May 1950", contact: "07712345678", service:
          "RSV"},
          {time: "8:55", name: "Jacob Blick", nhs: "999 123 4573", dob: "3 May 1950", contact: "07712345678", service:
          "RSV"},
          {time: "9:00", name: "Tobias Boehm", nhs: "999 123 4574", dob: "1 February 1950", contact: "07712345678",
          service: "RSV"},
          {time: "9:05", name: "Jonathan Carroll", nhs: "999 123 4575", dob: "29 January 1940", contact: "07712345678",
          service: "RSV"},
          {time: "9:05", name: "Connie Corkery", nhs: "999 123 4576", dob: "1 September 1950", contact: "07712345678",
          service: "RSV"},
          {time: "9:15", name: "Mohamed Bartoletti", nhs: "999 123 4577", dob: "6 November 1950", contact:
          "07712345678", service: "RSV"},
          {time: "9:15", name: "Elijah Anderson", nhs: "999 123 4578", dob: "4 July 1958", contact:
          "07712345678<br>ea58@email.co.uk", service: "RSV"}
          ] %}

          {% for appointment in appointments %}
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell checkbox-cell">
              <input type="checkbox" class="row-checkbox" onchange="updateSelection()"
                aria-label="Select appointment for {{appointment.name}}">
            </td>
            <td class="nhsuk-table__cell">{{appointment.time}}</td>
            <td class="nhsuk-table__cell">
              <strong>{{appointment.name}}</strong><br>
              {{appointment.nhs}}
            </td>
            <td class="nhsuk-table__cell">{{appointment.dob}}</td>
            <td class="nhsuk-table__cell">{{appointment.contact | safe}}</td>
            <td class="nhsuk-table__cell">{{appointment.service}}</td>
            <td class="nhsuk-table__cell">
              <a href="#" class="nhsuk-link" onclick="cancelSingleAppointment('{{appointment.name}}')">Cancel</a>
            </td>
          </tr>
          {% endfor %}

          <!-- Available slot row -->
          <tr class="nhsuk-table__row available-slot">
            <td class="nhsuk-table__cell checkbox-cell"></td>
            <td class="nhsuk-table__cell"><strong>9:20 - 10:00</strong></td>
            <td class="nhsuk-table__cell" colspan="5"><strong>8 available appointments</strong></td>
          </tr>

          {% set moreAppointments = [
          {time: "10:00", name: "Hattie Beer", nhs: "999 123 4579", dob: "8 August 1951", contact: "07712345678",
          service: "RSV"},
          {time: "10:05", name: "Felicity Bergstrom", nhs: "999 123 4580", dob: "17 April 1949", contact: "07712345678",
          service: "RSV"},
          {time: "10:05", name: "Ibrahim Hessel", nhs: "999 123 4581", dob: "3 April 1950", contact: "07712345678",
          service: "RSV"},
          {time: "10:10", name: "Syed Johnson", nhs: "999 123 4582", dob: "9 February 1950", contact: "07712345678",
          service: "RSV"},
          {time: "10:15", name: "Jakob Marquardt-Runolfsdottir", nhs: "999 123 4583", dob: "7 February 1950", contact:
          "07712345678", service: "RSV"},
          {time: "10:15", name: "Violet Mocicki", nhs: "999 123 4584", dob: "26 October 1954", contact: "07712345678",
          service: "RSV"},
          {time: "10:20", name: "David Anderson", nhs: "999 123 4585", dob: "15 December 1951", contact: "07712345678",
          service: "RSV"}
          ] %}

          {% for appointment in moreAppointments %}
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell checkbox-cell">
              <input type="checkbox" class="row-checkbox" onchange="updateSelection()"
                aria-label="Select appointment for {{appointment.name}}">
            </td>
            <td class="nhsuk-table__cell">{{appointment.time}}</td>
            <td class="nhsuk-table__cell">
              <strong>{{appointment.name}}</strong><br>
              {{appointment.nhs}}
            </td>
            <td class="nhsuk-table__cell">{{appointment.dob}}</td>
            <td class="nhsuk-table__cell">{{appointment.contact | safe}}</td>
            <td class="nhsuk-table__cell">{{appointment.service}}</td>
            <td class="nhsuk-table__cell">
              <a href="#" class="nhsuk-link" onclick="cancelSingleAppointment('{{appointment.name}}')">Cancel</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Pagination -->
    <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
      <ul class="nhsuk-list nhsuk-pagination__list">
        <li class="nhsuk-pagination__item nhsuk-pagination__item--current">
          <span class="nhsuk-pagination__link nhsuk-pagination__link--current">
            <span class="nhsuk-u-visually-hidden">Page </span>1
            <span class="nhsuk-u-visually-hidden"> of 30</span>
          </span>
        </li>
        <li class="nhsuk-pagination__item">
          <a class="nhsuk-pagination__link" href="?page=2">
            <span class="nhsuk-u-visually-hidden">Page </span>2
          </a>
        </li>
        <li class="nhsuk-pagination__item">
          <a class="nhsuk-pagination__link" href="?page=3">
            <span class="nhsuk-u-visually-hidden">Page </span>3
          </a>
        </li>
        <li class="nhsuk-pagination__item">
          <a class="nhsuk-pagination__link" href="?page=4">
            <span class="nhsuk-u-visually-hidden">Page </span>4
          </a>
        </li>
        <li class="nhsuk-pagination__item">
          <a class="nhsuk-pagination__link" href="?page=5">
            <span class="nhsuk-u-visually-hidden">Page </span>5
          </a>
        </li>
        <li class="nhsuk-pagination__item nhsuk-pagination__item--ellipses">⋯</li>
        <li class="nhsuk-pagination__item nhsuk-pagination__item--next">
          <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="?page=2">
            <span class="nhsuk-pagination__title">Next</span>
            <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              aria-hidden="true" width="34" height="34">
              <path d="m8.5 12 8-8 1.5 1.5L12.5 12l5.5 6.5L16.5 20z"></path>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <p class="nhsuk-body-s nhsuk-u-margin-top-4">
      Showing 1 to 20 of 600 scheduled appointments
    </p>
  </div>
</div>

<script>
  let selectedCount = 0;

  function updateSelection() {
    const checkboxes = document.querySelectorAll('.row-checkbox');
    const selectAllCheckbox = document.getElementById('selectAll');
    const selectionInfo = document.getElementById('selectionInfo');
    const cancelButton = document.getElementById('cancelButton');
    const clearButton = document.getElementById('clearButton');

    selectedCount = Array.from(checkboxes).filter(cb => cb.checked).length;

    // Update selection info and button states
    if (selectedCount > 0) {
      selectionInfo.textContent = `${selectedCount} appointment${selectedCount === 1 ? '' : 's'} selected`;
      cancelButton.disabled = false;
      clearButton.disabled = false;
    } else {
      selectionInfo.textContent = '0 appointments selected';
      cancelButton.disabled = true;
      clearButton.disabled = true;
    }

    // Update select all checkbox state
    if (selectedCount === 0) {
      selectAllCheckbox.indeterminate = false;
      selectAllCheckbox.checked = false;
    } else if (selectedCount === checkboxes.length) {
      selectAllCheckbox.indeterminate = false;
      selectAllCheckbox.checked = true;
    } else {
      selectAllCheckbox.indeterminate = true;
    }

    // Update row highlighting
    checkboxes.forEach(checkbox => {
      const row = checkbox.closest('tr');
      if (checkbox.checked) {
        row.classList.add('selected');
      } else {
        row.classList.remove('selected');
      }
    });
  }

  function toggleSelectAll() {
    const selectAllCheckbox = document.getElementById('selectAll');
    const checkboxes = document.querySelectorAll('.row-checkbox');

    checkboxes.forEach(checkbox => {
      checkbox.checked = selectAllCheckbox.checked;
    });

    updateSelection();
  }

  function clearSelection() {
    const checkboxes = document.querySelectorAll('.row-checkbox');
    const selectAllCheckbox = document.getElementById('selectAll');

    checkboxes.forEach(checkbox => {
      checkbox.checked = false;
    });
    selectAllCheckbox.checked = false;

    updateSelection();
  }

  function goToCancelConfirmation() {
    if (selectedCount > 0) {
      // Store selected appointments in session storage or send via POST
      const selectedAppointments = [];
      const checkboxes = document.querySelectorAll('.row-checkbox:checked');

      checkboxes.forEach(checkbox => {
        const row = checkbox.closest('tr');
        const appointmentData = {
          time: row.cells[1].textContent,
          name: row.cells[2].querySelector('strong').textContent,
          nhs: row.cells[2].textContent.split('\n')[1]?.trim(),
          dob: row.cells[3].textContent,
          contact: row.cells[4].textContent,
          service: row.cells[5].textContent
        };
        selectedAppointments.push(appointmentData);
      });

      // Store in session storage for the confirmation page
      sessionStorage.setItem('selectedAppointments', JSON.stringify(selectedAppointments));
      sessionStorage.setItem('selectedCount', selectedCount.toString());

      // Navigate to confirmation page
      window.location.href = 'cancel-appointments-confirmation';
    }
  }

  function cancelSingleAppointment(patientName) {
    if (confirm(`Are you sure you want to cancel the appointment for ${patientName}?`)) {
      // In a real implementation, this would make an API call
      alert(`Appointment for ${patientName} has been cancelled.`);
    }
  }

  function switchTab(tabName) {
    // In a real implementation, this would navigate to different views or filter data
    const tabs = document.querySelectorAll('.tab');
    tabs.forEach(tab => tab.classList.remove('active'));
    event.target.classList.add('active');
  }

  // Initialize the page
  document.addEventListener('DOMContentLoaded', function () {
    updateSelection(); // Set initial button states
  });
</script>
{% endblock %}