<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{# extends '../../create-availability/layout.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Site overview Hornsey Central Pharmacy
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    {% if data ['user-added'] == 'yes' %}
    
    <div class="nhsuk-notification-banner nhsuk-notification-banner--success" role="alert" aria-labelledby="nhsuk-notification-banner-title" data-module="nhsuk-notification-banner">
      <div class="nhsuk-notification-banner__header">
        <h2 class="nhsuk-notification-banner__title" id="nhsuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="nhsuk-notification-banner__content">
        <h3 class="nhsuk-notification-banner__heading">
          You have added a new user to MYA
        </h3>

        <p>The user will be sent an email confirmation</p>
      
      </div>
    </div>

{% endif %}
    <div class="moj-page-header-actions">
      <div class="moj-page-header-actions__title">
        <h1 class="nhsuk-heading-xl">Manage staff roles</h1>
      </div>
      
      <div class="moj-page-header-actions__actions">
        <div class="moj-button-group">
          {% from 'button/macro.njk' import button %}

          {{ button({
            text: "Add user",
            href: "search-user"
            
          }) }}

        </div>
      </div>
    </div>
   
  
    <table class="nhsuk-table-responsive">
      <thead class="nhsuk-table__head">
        <tr>
          <th class="" scope="col">Email</th>
          <th class="" scope="col">Roles</th>
          <th class="" scope="col">Manage</th>
          <th class="" scope="col">Remove</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Email</span>marta.baigorri2@nhs.net</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Roles</span>Appointment manager | Availability manager | Site details manager | User
            manager</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manage</span>
            <div><a class="nhsuk-link" href="users/manage?user=marta.baigorri2@nhs.net">Edit</a></div>
          </td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Remove</span>
            <div><a class="nhsuk-link" href="users/remove?user=marta.baigorri2@nhs.net">Remove from this site</a></div>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Email</span>khurram.aziz1@nhs.net</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Roles</span>Site details manager | User manager | Availability manager | Appointment
            manager</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manage</span>
            <div><a class="nhsuk-link" href="users/manage?user=khurram.aziz1@nhs.net">Edit</a></div>
          </td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Remove</span>
            <div><a class="nhsuk-link" href="users/remove?user=khurram.aziz1@nhs.net">Remove from this site</a></div>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Email</span>louise.duffy9@nhs.net</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Roles</span>Site details manager | User manager | Availability manager | Appointment
            manager</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manage</span>
            <div><a class="nhsuk-link" href="users/manage?user=louise.duffy9@nhs.net">Edit</a></div>
          </td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Remove</span>
            <div><a class="nhsuk-link" href="users/remove?user=louise.duffy9@nhs.net">Remove from this site</a></div>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Email</span>anna.jenkins13@nhs.net</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Roles</span>Site details manager | User manager | Availability manager | Appointment
            manager</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manage</span>
            <div><a class="nhsuk-link" href="users/manage?user=anna.jenkins13@nhs.net">Edit</a></div>
          </td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Remove</span>
            <div><a class="nhsuk-link" href="users/remove?user=anna.jenkins13@nhs.net">Remove from this site</a></div>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Email</span>ismail.ismail9@nhs.net</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Roles</span>Appointment manager | Availability manager | Site details manager | User
            manager</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manage</span>
            <div><a class="nhsuk-link" href="users/manage?user=ismail.ismail9@nhs.net">Edit</a></div>
          </td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Remove</span>
            <div><a class="nhsuk-link" href="users/remove?user=ismail.ismail9@nhs.net">Remove from this site</a></div>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Email</span>dave.evans10@nhs.net</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Roles</span>Appointment manager | Availability manager | Site details manager | User
            manager</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manage</span>
          </td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Remove</span>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Email</span>thor.odinson1@nhs.net</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Roles</span>Availability manager | User manager</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manage</span>
            <div><a class="nhsuk-link" href="users/manage?user=thor.odinson1@nhs.net">Edit</a></div>
          </td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Remove</span>
            <div><a class="nhsuk-link" href="users/remove?user=thor.odinson1@nhs.net">Remove from this site</a></div>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Email</span>mo.salah10@nhs.net</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading"
              aria-hidden="true">Roles</span>Availability manager | Site details manager</td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Manage</span>
            <div><a class="nhsuk-link" href="users/manage?user=mo.salah10@nhs.net">Edit</a></div>
          </td>
          <td class="nhsuk-table__cell"><span class="nhsuk-table-responsive__heading" aria-hidden="true">Remove</span>
            <div><a class="nhsuk-link" href="users/remove?user=mo.salah10@nhs.net">Remove from this site</a></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}