<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{# extends '../../create-availability/layout.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Add a user
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ breadcrumb({
    items: [
    {
    href: "#",
    text: "Home"
    },
    {
    href: "#",
    text: "Hornsey Central Pharmacy"
    }
    ],
    href: "#",
    text: "Users"
    },
    
    {
        href: "#",
        text: "New user"
        }
    
    
    
    )
    
    }}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1 class="nhsuk-heading-l">Add a user</h1>


<form action="new-user" method="post">



{{ input({
  label: {
    text: "Enter email address"
  },
  id: "email",
  name: "email"
}) }}

{% from 'button/macro.njk' import button %}

{{ button({
  text: "Continue"
}) }}

</form>

    </div>
</div>

    {% endblock %}