<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{# extends '../../create-availability/layout.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}

<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


            <!-- Change the page title here -->

            <span class="nhsuk-caption-l">Birmingham Women's Hospital</span>
            <h1 class="nhsuk-heading-l">Create availability</h1>

            <h2 class="nhsuk-heading-m">What type of session do you want to create?</h2>

            <div class="nhsuk-hint" id="contact-hint">
              You can create weekly or single date sessions, to cover: <br><br>
              <ul class="nhsuk-list nhsuk-list--bullet">
                <li>Vaccinator availability</li>
                <li>Type of vaccines available</li>
           </div>
     

      <form action="addSessionType" method="get" class="form">
          
          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
            </legend>
            <div class="nhsuk-form-group">
                <div class="nhsuk-radios">
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="session-radio" name="radioGroup" type="radio" value="Repeat">
                    <label class="nhsuk-label nhsuk-radios__label" for="session-radio-repeat">
                      Weekly sessions
                    </label>
                    <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                      Sessions that run at the same times every week
                    </div>
                  </div>
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="session-radio" name="radioGroup" type="radio" value="Single">
                    <label class="nhsuk-label nhsuk-radios__label" for="session-radio-single">
                      Single date session
                    </label>
                    <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                      Sessions that run on one day and don't repeat
                    </div>
                 </div>
            
                </div>
                </div>
          </fieldset>
        
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
      </form>
      

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
