{% extends '../../../layouts/layout.html' %}
{% from '../../../components/secondary-navigation.njk' import appSecondaryNavigation %}
{% from '../../../components/action-control-bar.njk' import appActionControlBar %}
{% from 'nhsuk/components/card/macro.njk' import card %}

{% set isThisWeek = today >= week[0] and today <= week[6] %}
{% set pageName = (week[0] | nhsDateRange(week[6])) ~ (isThisWeek and ' (this week)' or '') %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      {{
        appSecondaryNavigation({
          items: [
            {
              text: 'Day view',
              href: '/site/' ~ site_id ~ '/availability/day'
            },
            {
              text: 'Week view',
              href: '/site/' ~ site_id ~ '/availability/week',
              current: true
            },
            {
              text: 'Month view',
              href: '/site/' ~ site_id ~ '/availability/month'
            },
            {
              text: 'Create and manage clinics',
              href: '/site/' ~ site_id ~ '/clinics'
            }
          ]
        })
      }}
      <h1 class="nhsuk-heading-xl">{{ pageName }}</h1>

      

      {{ pagination({
        previous: {
          labelText: (previousWeek.start | formatDate('d') ~ " to " ~ previousWeek.end | formatDate('d LLL')),
          href: "/site/" ~ site_id ~ "/availability/week?date=" ~ previousWeek.start
        },
        next: {
          labelText: (nextWeek.start | formatDate('d') ~ " to " ~ nextWeek.end | formatDate('d LLL')),
          href: "/site/" ~ site_id ~ "/availability/week?date=" ~ nextWeek.start
        }
      }) }}

      <ol class="app-panel-list">
        {% for day in weekDays %}
        <li class="app-panel-list__item">
          {% call card({
            heading: day.date | formatDate('cccc d LLLL') ~ (' (today)' if day.isToday else ''),
            headingClasses: 'nhsuk-heading-m',
            classes: 'nhsuk-u-margin-bottom-4'
          }) %}
            {% if day.sessions and day.sessions.length %}

              <table class="nhsuk-table">
                <thead class="nhsuk-table__head">
                  <tr class="nhsuk-table__row">
                    <th scope="col" class="nhsuk-table__header">Time</th>
                    <th scope="col" class="nhsuk-table__header">Services</th>
                    <th scope="col" class="nhsuk-table__header">Booked</th>
                    <th scope="col" class="nhsuk-table__header">Free</th>
                    <th scope="col" class="nhsuk-table__header">Actions</th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  {% for session in day.sessions %}
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">
                      <strong>{{ session.from | nhsTime }} to {{ session.until | nhsTime }}</strong>
                    </td>
                    <td class="nhsuk-table__cell">
                      {% for service in session.services %}
                        {{ service.name }}{% if not loop.last %}<br>{% endif %}
                      {% endfor %}
                    </td>
                    <td class="nhsuk-table__cell">
                      {% for service in session.services %}
                        {{ service.bookedCount }} booked{% if not loop.last %}<br>{% endif %}
                      {% endfor %}
                    </td>
                    <td class="nhsuk-table__cell">{{ session.unbookedTotal }} free</td>
                    <td class="nhsuk-table__cell">
                      {% if session.actionHref %}
                      <ul class="nhsuk-list nhsuk-u-margin-bottom-0">
                        <li>
                          <a href="{{ session.actionHref }}">
                            View and change
                            <span class="nhsuk-u-visually-hidden"> clinic on {{ day.date | formatDate('EEEE d LLLL yyyy') }} at {{ session.from | nhsTime }} to {{ session.until | nhsTime }}</span>
                          </a>
                        </li>
                        {% if session.cancelHref %}
                          <li>
                            <a href="{{ session.cancelHref }}">
                              Cancel
                              <span class="nhsuk-u-visually-hidden"> clinic on {{ day.date | formatDate('EEEE d LLLL yyyy') }} at {{ session.from | nhsTime }} to {{ session.until | nhsTime }}</span>
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <div class="nhsuk-grid-row nhsuk-u-padding-top-3">
                <div class="nhsuk-grid-column-one-third">
                  <p class="nhsuk-body-s nhsuk-u-margin-bottom-0"><strong>Total appointments:</strong> {{ day.totalAppointments }}</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                  <p class="nhsuk-body-s nhsuk-u-margin-bottom-0"><strong>Booked:</strong> {{ day.bookedAppointments }}</p>
                </div>
                <div class="nhsuk-grid-column-one-third">
                  <p class="nhsuk-body-s nhsuk-u-margin-bottom-0"><strong>Free:</strong> {{ day.unbookedAppointments }}</p>
                </div>
              </div>

              <div class="nhsuk-button-group nhsuk-u-padding-top-3">
                <a href="{{ day.dayViewHref }}">View appointments</a>
                <a href="/not-in-this-prototype">Add clinic</a>
              </div>

            {% else %}
              <p class="nhsuk-body nhsuk-u-margin-bottom-0">No clinics running.</p>
              <div class="nhsuk-button-group nhsuk-u-padding-top-3">
                <a href="/not-in-this-prototype">Add clinic</a>
              </div>
            {% endif %}
          {% endcall %}
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
