<p>From: vaccine-services@england.nhs.uk<br>
Subject: Get started
</p>
<hr>

<p>Dear Jane Smith,</p>

<p><b>Get started</b></p>
<p>We have created an account for you to securely access the Vaccine digital services.</p>
<p>Here's what you need to do:</p>
<p><b>1. Activate your acccount</b></p>
<p>You will receive a Welcome email from us. Please activate this link within 7 days.</p>
<p>If you cannot find the email, please check your spam or junk.</p>
<p><b>2. Log in to vaccine services</b></p>
<p>Once you've activated your account, log in using your new username and password.</p>
<p>Many thanks,<br>
Jasmine Clarke<br>
Vaccinations Lead for Birmingham Women's NHS Foundation Trust maternity services
</p>