//


.app-button--loading[disabled],
.app-button--loading[disabled]:hover {
  background-color: #44834d;
  opacity: 1;
  -webkit-box-shadow: 0 2px 0 #88988c;
  box-shadow: 0 2px #88988c;
}

.app-body--error {
  font-weight: bold;
  color: #d5281b;
}

.app-button--outlined {
  background-color: rgba(0, 94, 184, 0.05);
  border-bottom: 0;
  border-color: #005eb8;
  box-shadow: 0 4px 0 #005eb8;
  color: #005eb8;
  padding-bottom: 8px;
  padding-top: 8px;
}
.app-button--outlined:link, .app-button--outlined:visited {
  color: #005eb8;
}
.app-button--outlined:hover {
  background-color: rgba(0, 94, 184, 0.1);
  color: #005eb8;
}
.app-button--outlined:focus {
  background-color: #ffeb3b;
  border-color: #ffeb3b;
  color: #212b32;
}
.app-button--outlined:focus:visited:active {
  color: #005eb8;
}
.app-button--outlined:active {
  background-color: rgba(0, 94, 184, 0.15);
  border-bottom: 2px solid;
  border-color: #005eb8;
  color: #005eb8;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-bottom: -2px;
}
.app-button--outlined::before {
  bottom: -4px;
  top: -2px;
}
.app-button--outlined:active::before {
  bottom: -6px;
  top: -6px;
}

.app-filters {
  padding: 16px 16px 24px 16px;
  background-color: #d8dde0;
  margin-bottom: 64px;
}

.app-link--reverse:link,
.app-link--reverse:visited {
  color: #ffffff;
}

.app-section--white {
  background-color: white;
}

.app-tag--header {
  background-color: #ccdff1;
  border-color: #ccdff1;
  color: #004281;
}

.app-button--small {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
    padding: 4px 12px;
  }
  @media (min-width: 40.0625em) {
    .app-button--small {
      font-size: 16px;
      /*! font-size: 1rem; */
      line-height: 1.5;
    }
  }