<table class="nhsuk-table" data-module="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-table__caption--m">All vaccinations</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="ascending">Patient</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Due date</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Postcode</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">RSV (from date)</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Pertussis (from date)</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row">
      {#<td>P001</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row"><a href="#/" class="nhsuk-link">Bailey, Sarah<br><span class="nhsuk-u-nowrap">104 832 7715</span></a></th>
      <td class="nhsuk-table__cell">6 May 2026<br>39 weeks</td>
      <td class="nhsuk-table__cell">B36 3YQ</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Urgent</strong><br>11 Feb 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Urgent</strong><br>18 Nov 2025</td>
    </tr>
    <tr role="row">
      {#<td>P002</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Edwards, Janet<br><span class="nhsuk-u-nowrap">589 204 6632</span></a></th>
      <td class="nhsuk-table__cell">18 May 2026<br>37 weeks</td>
      <td class="nhsuk-table__cell">B98 4VS</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Urgent</strong><br>23 Feb 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Urgent</strong><br>30 Nov 2025</td>
    </tr>
    <tr role="row">
      {#<td>P003</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Barnes, Carole<br><span class="nhsuk-u-nowrap">771 395 0284</span></a></th>
      <td class="nhsuk-table__cell">2 Jun 2026<br>35 weeks</td>
      <td class="nhsuk-table__cell">B38 1CB</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-1">Declined</strong><br>10 Mar 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-1">Declined</strong><br>16 Dec 2025</td>
    </tr>
    <tr role="row">
      {#<td>P004</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Stevenson, Maureen<br><span class="nhsuk-u-nowrap">236 880 9147</span></a></th>
      <td class="nhsuk-table__cell">15 Jun 2026<br>33 weeks</td>
      <td class="nhsuk-table__cell">B78 3YQ</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>23 Mar 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>29 Dec 2025</td>
    </tr>
    <tr role="row">
      {#<td>P005</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Burns, Anne<br><span class="nhsuk-u-nowrap">915 447 3026</span></a></th>
      <td class="nhsuk-table__cell">29 Jun 2026<br>31 weeks</td>
      <td class="nhsuk-table__cell">B2 8UE</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>6 Apr 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>12 Jan 2026</td>
    </tr>
    <tr role="row">
      {#<td>P006</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Williams, Natasha<br><span class="nhsuk-u-nowrap">348 129 7753</span></a></th>
      <td class="nhsuk-table__cell">10 Jul 2026<br>29 weeks</td>
      <td class="nhsuk-table__cell">B1 5BW</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>17 Apr 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>23 Jan 2026</td>
    </tr>
    <tr role="row">
      {#<td>P007</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Davison, Joyce<br><span class="nhsuk-u-nowrap">662 540 1988</span></a></th>
      <td class="nhsuk-table__cell">24 Jul 2026<br>27 weeks</td>
      <td class="nhsuk-table__cell">B93 9PX</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>1 May 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>6 Feb 2026</td>
    </tr>
    <tr role="row">
      {#<td>P008</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Bennett, Jenna<br><span class="nhsuk-u-nowrap">703 216 4591</span></a></th>
      <td class="nhsuk-table__cell">6 Aug 2026<br>25 weeks</td>
      <td class="nhsuk-table__cell">B98 6CB</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>14 May 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>19 Feb 2026</td>
    </tr>
    <tr role="row">
      {#<td>P009</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Davison, Michelle<br><span class="nhsuk-u-nowrap">829 771 0346</span></a></th>
      <td class="nhsuk-table__cell">20 Aug 2026<br>23 weeks</td>
      <td class="nhsuk-table__cell">B4 2LP</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>28 May 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>5 Mar 2026</td>
    </tr>
    <tr role="row">
      {#<td>P010</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Begum, Nicola<br><span class="nhsuk-u-nowrap">451 903 2287</span></a></th>
      <td class="nhsuk-table__cell">3 Sep 2026<br>21 weeks</td>
      <td class="nhsuk-table__cell">B31 5GD</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>12 Jun 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>19 Mar 2026</td>
    </tr>
    <tr role="row">
      {#<td>P011</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">King, Charlene<br><span class="nhsuk-u-nowrap">667 118 5902</span></a></th>
      <td class="nhsuk-table__cell">17 Sep 2026<br>19 weeks</td>
      <td class="nhsuk-table__cell">B94 9JL</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>26 Jun 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-1">Declined</strong><br>2 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P012</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Chambers, Katherine<br><span class="nhsuk-u-nowrap">294 660 8735</span></a></th>
      <td class="nhsuk-table__cell">30 Sep 2026<br>17 weeks</td>
      <td class="nhsuk-table__cell">B46 9ZE</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>9 Jul 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>15 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P013</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Shaw, Joyce<br><span class="nhsuk-u-nowrap">830 552 1494</span></a></th>
      <td class="nhsuk-table__cell">14 Oct 2026<br>15 weeks</td>
      <td class="nhsuk-table__cell">B34 6FA</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>23 Jul 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>29 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P014</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Hobbs, Molly<br><span class="nhsuk-u-nowrap">172 449 6008</span></a></th>
      <td class="nhsuk-table__cell">28 Oct 2026<br>13 weeks</td>
      <td class="nhsuk-table__cell">B8 3QL</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>6 Aug 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>13 May 2026</td>
    </tr>
    <tr role="row">
      {#<td>P015</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">O'Sullivan, Francesca<br><span class="nhsuk-u-nowrap">905 731 2843</span></a></th>
      <td class="nhsuk-table__cell">11 Nov 2026<br>11 weeks</td>
      <td class="nhsuk-table__cell">B13 9RI</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>20 Aug 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>27 May 2026</td>
    </tr>
    <tr role="row">
      {#<td>P016</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Power, Elaine<br><span class="nhsuk-u-nowrap">318 067 5592</span></a></th>
      <td class="nhsuk-table__cell">25 Nov 2026<br>9 weeks</td>
      <td class="nhsuk-table__cell">B46 2CZ</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>3 Sep 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>10 Jun 2026</td>
    </tr>
    <tr role="row">
      {#<td>P017</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Phillips, Maureen<br><span class="nhsuk-u-nowrap">746 882 1307</span></a></th>
      <td class="nhsuk-table__cell">9 Dec 2026<br>7 weeks</td>
      <td class="nhsuk-table__cell">B13 4EE</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>17 Sep 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>24 Jun 2026</td>
    </tr>
    <tr role="row">
      {#<td>P018</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Brown, Sally<br><span class="nhsuk-u-nowrap">529 304 7716</span></a></th>
      <td class="nhsuk-table__cell">23 Dec 2026<br>5 weeks</td>
      <td class="nhsuk-table__cell">B48 5RF</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>30 Sep 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>8 Jul 2026</td>
    </tr>
    <tr role="row">
      {#td>P019</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Brown, Sharon<br><span class="nhsuk-u-nowrap">681 220 4985</span></a></th>
      <td class="nhsuk-table__cell">6 Jan 2027<br>3 weeks</td>
      <td class="nhsuk-table__cell">B72 1VM</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>14 Oct 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>22 Jul 2026</td>
    </tr>
    <tr role="row">
      {#<td>P020</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Page, Michelle<br><span class="nhsuk-u-nowrap">407 993 1562</span></a></th>
      <td class="nhsuk-table__cell">20 Jan 2027<br>1 week</td>
      <td class="nhsuk-table__cell">B18 6CK</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>28 Oct 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>5 Aug 2026</td>
    </tr>
  </tbody>
</table>

<div class="nhsuk-pagination-wrapper nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
  <div class="nhsuk-pagination-wrapper__pagination">
    {{ pagination({
      next: {
        href: "#"
      },
      items: [
        {
          number: 1,
          href: "#",
          current: true
        },
        {
          ellipsis: true
        },
        {
          number: 8,
          href: "#"
        },
        {
          number: 9,
          href: "#"
        },
        {
          number: 10,
          href: "#"
        },
        {
          number: 11,
          href: "#"
        },
        {
          number: 12,
          href: "#"
        },
        {
          ellipsis: true
        },
        {
          number: 42,
          href: "#"
        }
      ]
    }) }}
  </div>

  <div class="nhsuk-pagination-wrapper__results">
    Showing 1 to 20 of 1,993 patients
  </div>
</div>

<a class="nhsuk-button" data-module="nhsuk-button" href="export-list">Export list as a CSV</a>
{#<p class="nhsuk-body">
  <a class="nhsuk-link" href="#/" id="backToInvite">Back to <strong>Understand my cohort</strong></a>
</p>#}