<details class="nhsuk-details app-filter nhsuk-u-padding-bottom-4" data-module="app-filter">
  <summary class="nhsuk-details__summary app-filter__summary">
    <span class="app-caret" aria-hidden="true"></span>
    <span class="nhsuk-details__summary-text">Filter and sort</span>
  </summary>

  <div class="nhsuk-details__text app-filter__panel">
    <form action="#/" method="post" novalidate>

      {# Personal details #}
      <details class="nhsuk-details app-section">
        <summary class="nhsuk-details__summary app-section__summary">
          <span class="app-caret--inner" aria-hidden="true"></span>
          <span class="nhsuk-details__summary-text">Personal details</span>
        </summary>
        <div class="nhsuk-details__text app-section__body">
          {{ input({
            label: {
              text: "Postcode",
              classes: "nhsuk-u-font-weight-bold"
            },
            classes: "nhsuk-input--width-10",
            id: "patient-postcode",
            name: "patientPostcode"
          }) }}
        </div>
      </details>

      {# Eligibility #}
      <details class="nhsuk-details app-section">
        <summary class="nhsuk-details__summary app-section__summary">
          <span class="app-caret--inner" aria-hidden="true"></span>
          <span class="nhsuk-details__summary-text">Eligibility</span>
        </summary>
        <div class="nhsuk-details__text app-section__body">

          {% set conditionalRSVstatus %}
            {{ checkboxes({
              idPrefix: "current-rsv-status",
              name: "currentRSVstatus",
              fieldset: { legend: { text: "RSV status", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
              classes: "nhsuk-checkboxes--small",
              items: [
                { value: "statusRSVvaccinated", text: "Vaccinated" },
                { value: "statusRSVpriority", text: "Priority" },
                { value: "statusRSVeligible", text: "Eligible" },
                { value: "statusRSVnotYetElligible", text: "Not yet eligible" }
              ]
            }) }}
          {% endset %}

          {% set conditionalPertussisStatus %}
            {{ checkboxes({
              idPrefix: "current-pertussis-status",
              name: "currentPertussisStatus",
              fieldset: { legend: { text: "Pertussis status", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
              classes: "nhsuk-checkboxes--small",
              items: [
                { value: "statusPertussisVaccinated", text: "Vaccinated" },
                { value: "statusPertussisPriority", text: "Priority" },
                { value: "statusPertussisEligible", text: "Eligible" },
                { value: "statusPertussisNotYetElligible", text: "Not yet eligible" }
              ]
            }) }}
          {% endset %}

          {{ checkboxes({
            idPrefix: "eligibilityStatus",
            name: "eligibilityStatus",
            fieldset: { legend: { text: "Status", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
            classes: "nhsuk-checkboxes--small",
            items: [
              { value: "rsvStatus", text: "RSV status", conditional: { html: conditionalRSVstatus } },
              { value: "pertussisStatus", text: "Pertussis status", conditional: { html: conditionalPertussisStatus } }
            ]
          }) }}

          {{ checkboxes({
            idPrefix: "weeks-pregnant",
            name: "weeksPregnant",
            fieldset: { legend: { text: "Weeks pregnant", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
            classes: "nhsuk-checkboxes--small",
            items: [
              { value: "weeksPregnantUpTo20", text: "Up to 20 weeks" },
              { value: "weeksPregnant20to23", text: "20 to 23 weeks" },
              { value: "weeksPregnant24to27", text: "24 to 27 weeks" },
              { value: "weeksPregnant28to31", text: "28 to 31 weeks" },
              { value: "weeksPregnant32to35", text: "32 to 35 weeks" },
              { value: "weeksPregnant36orMore", text: "36 weeks or more" }
            ]
          }) }}

          {% set conditionalDueDate %}
            {{ dateInput({
              id: "from-due-date",
              namePrefix: "fromDueDate",
              fieldset: {
                legend: {
                  text: "From date"
                }
              },
              hint: {
                text: "For example, 15 3 2026"
              },
              items: [
                {
                  name: "Day",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Month",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Year",
                  classes: "nhsuk-input--width-4"
                }
              ]
            }) }}

            {{ dateInput({
              id: "to-due-date",
              namePrefix: "toDueDate",
              fieldset: {
                legend: {
                  text: "To date"
                }
              },
              hint: {
                text: "For example, 13 12 2026"
              },
              items: [
                {
                  name: "Day",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Month",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Year",
                  classes: "nhsuk-input--width-4"
                }
              ]
            }) }}
          {% endset %}

          {{ checkboxes({
            idPrefix: "estimate-due-dates",
            name: "keyDates",
            fieldset: { legend: { text: "Estimated due dates", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
            classes: "nhsuk-checkboxes--small",
            items: [
              { value: "keydateDueDate", text: "Pregnancy estimated due dates", conditional: { html: conditionalDueDate } }
            ]
          }) }}
        </div>
      </details>

      {# Dates and invitations #}
      <details class="nhsuk-details app-section">
        <summary class="nhsuk-details__summary app-section__summary">
          <span class="app-caret--inner" aria-hidden="true"></span>
          <span class="nhsuk-details__summary-text">Dates and invitations</span>
        </summary>
        <div class="nhsuk-details__text app-section__body">
          
          {% set conditionalLastRSVvaccinationDate %}
            {{ dateInput({
              id: "last-rsv-vaccination-from-date",
              namePrefix: "lastRSVvaccinationFromDate",
              fieldset: {
                legend: {
                  text: "From date"
                }
              },
              hint: {
                text: "For example, 15 3 2026"
              },
              items: [
                {
                  name: "Day",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Month",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Year",
                  classes: "nhsuk-input--width-4"
                }
              ]
            }) }}
            {{ dateInput({
              id: "last-rsv-vaccination-to-date",
              namePrefix: "lastRSVvaccinationToDate",
              fieldset: {
                legend: {
                  text: "To date"
                }
              },
              hint: {
                text: "For example, 13 12 2026"
              },
              items: [
                {
                  name: "Day",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Month",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Year",
                  classes: "nhsuk-input--width-4"
                }
              ]
            }) }}
          {% endset %}

          {{ checkboxes({
            idPrefix: "vaccinationsLastRSV",
            name: "vaccinationsLastRSV",
            fieldset: { legend: { text: "RSV vaccination", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
            classes: "nhsuk-checkboxes--small",
            items: [
              { value: "keydateRSVvaccinationDate", text: "Last RSV vaccination", conditional: { html: conditionalLastRSVvaccinationDate } }
            ]
          }) }}

          {% set conditionalLastPertussisVaccinationDate %}
            {{ dateInput({
              id: "last-pertussis-vaccination-from-date",
              namePrefix: "lastPertussisVaccinatioFromDate",
              fieldset: {
                legend: {
                  text: "From date"
                }
              },
              hint: {
                text: "For example, 15 3 2026"
              },
              items: [
                {
                  name: "Day",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Month",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Year",
                  classes: "nhsuk-input--width-4"
                }
              ]
            }) }}

            {{ dateInput({
              id: "last-pertussis-vaccination-to-date",
              namePrefix: "lastPertussisVaccinationToDate",
              fieldset: {
                legend: {
                  text: "To date"
                }
              },
              hint: {
                text: "For example, 13 12 2026"
              },
              items: [
                {
                  name: "Day",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Month",
                  classes: "nhsuk-input--width-2"
                },
                {
                  name: "Year",
                  classes: "nhsuk-input--width-4"
                }
              ]
            }) }}
          {% endset %}

          {{ checkboxes({
            idPrefix: "vaccinationsLastPertussis",
            name: "vaccinationsLastPertussis",
            fieldset: { legend: { text: "Pertussis vaccination", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
            classes: "nhsuk-checkboxes--small",
            items: [
              { value: "keydatePertussisVaccinationDate", text: "Last pertussis vaccination", conditional: { html: conditionalLastPertussisVaccinationDate } }
            ]
          }) }}
        </div>
      </details>

      <div class="app-actions" style="display: flex; align-items: center; gap: 1rem; margin-top: 0; margin-bottom: 0;">
        <button type="submit" class="nhsuk-button nhsuk-button--small" data-module="nhsuk-button">
          Apply
        </button>
        <button type="submit" class="nhsuk-button nhsuk-button--secondary nhsuk-button--small" data-module="nhsuk-button">
          Clear filters
        </button>
      </div>

    </form>
  </div>
</details>