<table class="nhsuk-table" data-module="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-table__caption--m">All patients</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="ascending">Patient</th>
      {#<th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Due date</th>#}
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Weeks pregnant</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Postcode</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">RSV eligibility</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Pertussis eligibility</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row">
      {#<td>P001</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row"><a href="#/" class="nhsuk-link">Bailey, Sarah</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">104 832 7715</span></th>
      <td class="nhsuk-table__cell">39 weeks<br>Due date 6 May 2026</td>
      <td class="nhsuk-table__cell">B36 3YQ</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Priority</strong><br>From 11 Feb 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Priority</strong><br>From 18 Nov 2025</td>
    </tr>
    <tr role="row">
      {#<td>P002</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Edwards, Janet</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">589 204 6632</span></th>
      <td class="nhsuk-table__cell">37 weeks<br>18 May 2026</td>
      <td class="nhsuk-table__cell">B98 4VS</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Priority</strong><br>From 23 Feb 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Priority</strong><br>From 30 Nov 2025</td>
    </tr>
    <tr role="row">
      {#<td>P003</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Barnes, Carole</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">771 395 0284</span></th>
      <td class="nhsuk-table__cell">35 weeks<br>2 Jun 2026</td>
      <td class="nhsuk-table__cell">B38 1CB</td>
      {#<td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-1">Declined</strong><br>From 10 Mar 2026</td>#}
      {#<td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-1">Declined</strong><br>From 16 Dec 2025</td>#}
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 10 Mar 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 16 Dec 2025</td>
    </tr>
    <tr role="row">
      {#<td>P004</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Stevenson, Maureen</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">236 880 9147</span></th>
      <td class="nhsuk-table__cell">33 weeks<br>15 Jun 2026</td>
      <td class="nhsuk-table__cell">B78 3YQ</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>From 23 Mar 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>From 29 Dec 2025</td>
    </tr>
    <tr role="row">
      {#<td>P005</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Burns, Anne</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">915 447 3026</span></th>
      <td class="nhsuk-table__cell">31 weeks<br>29 Jun 2026</td>
      <td class="nhsuk-table__cell">B2 8UE</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>From 6 Apr 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>From 12 Jan 2026</td>
    </tr>
    <tr role="row">
      {#<td>P006</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Williams, Natasha</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">348 129 7753</span></th>
      <td class="nhsuk-table__cell">29 weeks<br>10 Jul 2026</td>
      <td class="nhsuk-table__cell">B1 5BW</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 17 Apr 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 23 Jan 2026</td>
    </tr>
    <tr role="row">
      {#<td>P007</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Davison, Joyce</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">662 540 1988</span></th>
      <td class="nhsuk-table__cell">27 weeks<br>24 Jul 2026</td>
      <td class="nhsuk-table__cell">B93 9PX</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 1 May 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 6 Feb 2026</td>
    </tr>
    <tr role="row">
      {#<td>P008</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Bennett, Jenna</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">703 216 4591</span></th>
      <td class="nhsuk-table__cell">25 weeks<br>6 Aug 2026</td>
      <td class="nhsuk-table__cell">B98 6CB</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 14 May 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>From 19 Feb 2026</td>
    </tr>
    <tr role="row">
      {#<td>P009</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Davison, Michelle</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">829 771 0346</span></th>
      <td class="nhsuk-table__cell">23 weeks<br>20 Aug 2026</td>
      <td class="nhsuk-table__cell">B4 2LP</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 28 May 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>From 5 Mar 2026</td>
    </tr>
    <tr role="row">
      {#<td>P010</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Begum, Nicola</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">451 903 2287</span></th>
      <td class="nhsuk-table__cell">21 weeks<br>3 Sep 2026</td>
      <td class="nhsuk-table__cell">B31 5GD</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 12 Jun 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 19 Mar 2026</td>
    </tr>
    <tr role="row">
      {#<td>P011</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">King, Charlene</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">667 118 5902</span></th>
      <td class="nhsuk-table__cell">19 weeks<br>17 Sep 2026</td>
      <td class="nhsuk-table__cell">B94 9JL</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 26 Jun 2026</td>
      {#<td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--orange nhsuk-u-margin-bottom-1">Declined</strong><br>From 2 Apr 2026</td>#}
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 2 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P012</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Chambers, Katherine</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">294 660 8735</span></th>
      <td class="nhsuk-table__cell">17 weeks<br>30 Sep 2026</td>
      <td class="nhsuk-table__cell">B46 9ZE</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 9 Jul 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 15 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P013</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Shaw, Joyce</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">830 552 1494</span></th>
      <td class="nhsuk-table__cell">15 weeks<br>14 Oct 2026</td>
      <td class="nhsuk-table__cell">B34 6FA</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 23 Jul 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 29 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P014</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Hobbs, Molly</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">172 449 6008</span></th>
      <td class="nhsuk-table__cell">13 weeks<br>28 Oct 2026</td>
      <td class="nhsuk-table__cell">B8 3QL</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 6 Aug 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 13 May 2026</td>
    </tr>
    <tr role="row">
      {#<td>P015</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">O'Sullivan, Francesca</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">905 731 2843</span></th>
      <td class="nhsuk-table__cell">11 weeks<br>11 Nov 2026</td>
      <td class="nhsuk-table__cell">B13 9RI</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 20 Aug 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 27 May 2026</td>
    </tr>
    <tr role="row">
      {#<td>P016</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Power, Elaine</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">318 067 5592</span></th>
      <td class="nhsuk-table__cell">9 weeks<br>25 Nov 2026</td>
      <td class="nhsuk-table__cell">B46 2CZ</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 3 Sep 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 10 Jun 2026</td>
    </tr>
    <tr role="row">
      {#<td>P017</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Phillips, Maureen</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">746 882 1307</span></th>
      <td class="nhsuk-table__cell">7 weeks<br>9 Dec 2026</td>
      <td class="nhsuk-table__cell">B13 4EE</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 17 Sep 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 24 Jun 2026</td>
    </tr>
    <tr role="row">
      {#<td>P018</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Brown, Sally</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">529 304 7716</span></th>
      <td class="nhsuk-table__cell">5 weeks<br>23 Dec 2026</td>
      <td class="nhsuk-table__cell">B48 5RF</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 30 Sep 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 8 Jul 2026</td>
    </tr>
    <tr role="row">
      {#td>P019</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Brown, Sharon</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">681 220 4985</span></th>
      <td class="nhsuk-table__cell">3 weeks<br>6 Jan 2027</td>
      <td class="nhsuk-table__cell">B72 1VM</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 14 Oct 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 22 Jul 2026</td>
    </tr>
    <tr role="row">
      {#<td>P020</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col"><a href="#/" class="nhsuk-link">Page, Michelle</a><br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">407 993 1562</span></th>
      <td class="nhsuk-table__cell">1 week<br>20 Jan 2027</td>
      <td class="nhsuk-table__cell">B18 6CK</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 28 Oct 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 5 Aug 2026</td>
    </tr>
  </tbody>
</table>

<div class="nhsuk-pagination-wrapper nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
  <div class="nhsuk-pagination-wrapper__pagination">
    {{ pagination({
      next: {
        href: "#"
      },
      items: [
        {
          number: 1,
          href: "#",
          current: true
        },
        {
          ellipsis: true
        },
        {
          number: 8,
          href: "#"
        },
        {
          number: 9,
          href: "#"
        },
        {
          number: 10,
          href: "#"
        },
        {
          number: 11,
          href: "#"
        },
        {
          number: 12,
          href: "#"
        },
        {
          ellipsis: true
        },
        {
          number: 42,
          href: "#"
        }
      ]
    }) }}
  </div>

  <div class="nhsuk-pagination-wrapper__results">
    Showing 1 to 20 of 1,993 patients
  </div>
</div>

<a class="nhsuk-button" data-module="nhsuk-button" href="export-list">Export list as a CSV</a>
{#<p class="nhsuk-body">
  <a class="nhsuk-link" href="#/" id="backToInvite">Back to <strong>Understand my cohort</strong></a>
</p>#}