<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{# extends 'current/layouts/layout-top-nav-sites.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}

<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {# backLink({
    href: "/mya/manage-sites",
    text: "Go back"
  }) #}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/iteration-2/">Home</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/iteration-2/landing-organise-clinics">Organise clinics</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/mya/create-availability/site-overview">Manage clinics</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/mya/create-availability/site-overview">Hornsey Central Pharmacy</a></li>
      <li class="nhsuk-breadcrumb__list-item">View bookings</li>
    </ol>
    <a class="nhsuk-back-link" href="javascript:history.back()">
      Go back
    </a>
  </nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
    

      <!-- Change the page title here -->
      <span class="nhsuk-caption-l">Hornsey Central Pharmacy</span>
      <h1 class="nhsuk-heading-xl">26 August to 1 September 2024</h1>
      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="#">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">19 - 25 August 2024</span>
              <svg class="nhsuk-icon nhsuk-icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M10.7 6.3c.4.4.4 1 0 1.4L7.4 11H19a1 1 0 0 1 0 2H7.4l3.3 3.3c.4.4.4 1 0 1.4a1 1 0 0 1-1.4 0l-5-5A1 1 0 0 1 4 12c0-.3.1-.5.3-.7l5-5a1 1 0 0 1 1.4 0Z"/>
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">2 - 8 September 2024</span>
              <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z"/>
              </svg>
            </a>
          </li>
        </ul>
      </nav>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Monday 26 August</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                <th role="columnheader" class="" scope="col">
                  Break
                </th>
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Capacity
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">12:00 - 13:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">420 booked </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">17:00 - 18:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
            </tbody>
          </table>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px;">
                  Unbooked: 10
                </tr>
            </thead>
            </tbody>
          </table>
          <p><a class="nhsuk-link" href="bookings-scheduled">View daily appointments</a> | <a class="nhsuk-link" href="add-availability">Add availability to this day<span class="nhsuk-u-visually-hidden">To Monday 26 August</span></a></p>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Tuesday 27 August</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                <th role="columnheader" class="" scope="col">
                  Break
                </th>
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Capacity
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">12:00 - 13:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">420 booked </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <!--<tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">12:00 - 13:00</th>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</th>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+<br> RSV Adult</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">200 booked<br>100 booked </td>
              </tr>
              <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px;">Totals</th>
            <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid<br> RSV</td>
            <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">500 booked<br>100 booked </td>
          </tr>-->
            </tbody>
          </table>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px;">
                  Unbooked: 10
              </tr>
            </thead>
            </tbody>
          </table>
          <!-- <p><a class="nhsuk-link" href="#">View bookings <span class="nhsuk-u-visually-hidden">for Monday 26 August</span></a> | <a class="nhsuk-link" href="#">Copy day<span class="nhsuk-u-visually-hidden">for Monday 26 August</span></a></p>               -->
          <p><a class="nhsuk-link" href="bookings-scheduled">View daily appointments</a> | <a class="nhsuk-link" href="add-availability">Add availability to this day<span class="nhsuk-u-visually-hidden">To Monday 26 August</span></a></p>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Wednesday 28 August</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                <th role="columnheader" class="" scope="col">
                  Break
                </th>
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Capacity
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">12:00 - 13:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">420 booked </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <!--<tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">12:00 - 13:00</th>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</th>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+<br> RSV Adult</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">200 booked<br>100 booked </td>
              </tr>
              <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px;">Totals</th>
            <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid<br> RSV</td>
            <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">500 booked<br>100 booked </td>
          </tr>-->
            </tbody>
          </table>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px;">
                  Unbooked: 10
              </tr>
            </thead>
            </tbody>
          </table>
          <!-- <p><a class="nhsuk-link" href="#">View bookings <span class="nhsuk-u-visually-hidden">for Monday 26 August</span></a> | <a class="nhsuk-link" href="#">Copy day<span class="nhsuk-u-visually-hidden">for Monday 26 August</span></a></p>               -->
          <p><a class="nhsuk-link" href="bookings-scheduled">View daily appointments</a> | <a class="nhsuk-link" href="add-availability">Add availability to this day<span class="nhsuk-u-visually-hidden">To Monday 26 August</span></a></p>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Thursday 29 August</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                <th role="columnheader" class="" scope="col">
                  Break
                </th>
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Capacity
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">12:00 - 13:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">420 booked </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <!--<tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">12:00 - 13:00</th>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</th>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+<br> RSV Adult</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">200 booked<br>100 booked </td>
              </tr>
              <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px;">Totals</th>
            <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid<br> RSV</td>
            <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">500 booked<br>100 booked </td>
          </tr>-->
            </tbody>
          </table>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px;">
                  Unbooked: 10
              </tr>
            </thead>
            </tbody>
          </table>
          <!-- <p><a class="nhsuk-link" href="#">View bookings <span class="nhsuk-u-visually-hidden">for Monday 26 August</span></a> | <a class="nhsuk-link" href="#">Copy day<span class="nhsuk-u-visually-hidden">for Monday 26 August</span></a></p>               -->
          <p><a class="nhsuk-link" href="bookings-scheduled">View daily appointments</a> | <a class="nhsuk-link" href="add-availability">Add availability to this day<span class="nhsuk-u-visually-hidden">To Monday 26 August</span></a></p>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Friday 30 August</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                <th role="columnheader" class="" scope="col">
                  Break
                </th>
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Capacity
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">12:00 - 13:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">420 booked </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <!--<tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">12:00 - 13:00</th>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">13:00 - 17:00</th>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 18-75+<br> RSV Adult</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">200 booked<br>100 booked </td>
              </tr>
              <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px;">Totals</th>
            <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid<br> RSV</td>
            <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">500 booked<br>100 booked </td>
          </tr>-->
            </tbody>
          </table>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px;">
                  Total appointments: 610
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px;">
                  Booked: 600
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px;">
                  Unbooked: 10
              </tr>
            </thead>
            </tbody>
          </table>
          <!-- <p><a class="nhsuk-link" href="#">View bookings <span class="nhsuk-u-visually-hidden">for Monday 26 August</span></a> | <a class="nhsuk-link" href="#">Copy day<span class="nhsuk-u-visually-hidden">for Monday 26 August</span></a></p>               -->
          <p><a class="nhsuk-link" href="bookings-scheduled">View daily appointments</a> | <a class="nhsuk-link" href="add-availability">Add availability to this day<span class="nhsuk-u-visually-hidden">To Monday 26 August</span></a></p>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Saturday 31 August</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                <th role="columnheader" class="" scope="col">
                  Break
                </th>
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Capacity
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 12:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">Covid 5-17</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">80 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">19:00 - 12:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">No break</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">RSV</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">100 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Edit</a></td>
              </tr>
            </tbody>
          </table>
          

        <table class="nhsuk-table">
              <tr role="row">
                <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px;">
                  Total appointments: 200
                </th>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px;">
                  Booked: 180
                 <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px;">
                 Unbooked: 20
              </tr>
            </thead>
            </tbody>
          </table>
          <!-- <p><a class="nhsuk-link" href="#">View bookings <span class="nhsuk-u-visually-hidden">for Monday 26 August</span></a> | <a class="nhsuk-link" href="#">Copy day<span class="nhsuk-u-visually-hidden">for Monday 26 August</span></a></p>               -->
          <p><a class="nhsuk-link" href="bookings-scheduled">View daily appointments</a> | <a class="nhsuk-link" href="add-availability">Add availability to this day<span class="nhsuk-u-visually-hidden">To Monday 26 August</span></a></p>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            Sunday 1 September
      
          </h3>
          <p>No availability</p>    
          <p><a class="nhsuk-link" href="add-availability">Add availability to this day<span class="nhsuk-u-visually-hidden">To Monday 26 August</span></a></p>
          
        </div>
      </div>

                                                    
      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="#">
              <span class="nhsuk-pagination__title">Previous</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">19 - 25 August 2024</span>
              <svg class="nhsuk-icon nhsuk-icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M10.7 6.3c.4.4.4 1 0 1.4L7.4 11H19a1 1 0 0 1 0 2H7.4l3.3 3.3c.4.4.4 1 0 1.4a1 1 0 0 1-1.4 0l-5-5A1 1 0 0 1 4 12c0-.3.1-.5.3-.7l5-5a1 1 0 0 1 1.4 0Z"/>
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="#">
              <span class="nhsuk-pagination__title">Next</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">2 - 8 September 2024</span>
              <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z"/>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
