  <!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{# extends 'current/layouts/layout-top-nav-sites.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}

<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {#<a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>#}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/iteration-2/">Home</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/iteration-2/landing-organise-clinics">Organise clinics</a></li>
      <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" href="/mya/manage-sites">Manage clinics</a></li>
      <li class="nhsuk-breadcrumb__list-item">Birmingham Women's Hospital</li>
    </ol>
    <a class="nhsuk-back-link" href="javascript:history.back()">
      Go back
    </a>
  </nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <!--<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if data['addedBatch'] == 'true' %}
        {% include "includes/added-batch-notification.html" %}
      {% endif %}
    </div>
  </div>-->

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">Birmingham Women's Hospital</h1>
      
      {# MOJ Navigation START #}
      <nav class="moj-sub-navigation nhsuk-u-padding-bottom-2" aria-label="Sub navigation">
        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/mya/create-availability/site-overview?addedBatch=">Site details</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/mya/availability-overview?addedBatch=">Create availability</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page">Sessions</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/staff-book-patient-appointment/patients-nhs-number?nhsNumberKnown&journey=BookPatient&addedBatch=">Book patient</a>
          </li>
          <!--<li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/vaccines/">Assign batches</a>
          </li>-->
          {#<li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#/" style="color: #f00">Stock management</a>
          </li>          
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/vaccines/" style="color: #f00; font-weight: bold;">Assign batches</a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="#/" style="color: #f00; font-weight: bold;">Stock management</a>
          </li>#}

          <!--
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/appointments/mvp1" style="color: #f00;"><strong>Record booked</strong></a>
          </li>
          -->

          <!--
          <li class="moj-sub-navigation__item">
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href=""><strong>Manage users</strong></a>
          </li>
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href=""><strong>Reports</strong></a>
          </li>
          -->
        </ul>
      </nav>
      {# MOJ Navigation END #}

      <!-- Change the page title here -->
      <h2 class="nhsuk-heading-l">22 September to 28 September</h2>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% if data['addedBatch'] == 'true' %}
        {% include "includes/added-batch-notification.html" %}
      {% endif %}
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <nav class="nhsuk-pagination nhsuk-u-margin-top-0" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="week-september-15-21?addedBatch=">
              <span class="nhsuk-pagination__title">Previous week</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">15 September to 21 September</span>
              <svg class="nhsuk-icon nhsuk-icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M10.7 6.3c.4.4.4 1 0 1.4L7.4 11H19a1 1 0 0 1 0 2H7.4l3.3 3.3c.4.4.4 1 0 1.4a1 1 0 0 1-1.4 0l-5-5A1 1 0 0 1 4 12c0-.3.1-.5.3-.7l5-5a1 1 0 0 1 1.4 0Z"/>
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="week-september-29-october-5?addedBatch=">
              <span class="nhsuk-pagination__title">Next week</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">29 September to 5 October</span>
              <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z"/>
              </svg>
            </a>
          </li>
        </ul>
      </nav>

      {# MONDAY #}
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Monday 22 September</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>

            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">
                  <ul class="nhsuk-list" style="margin: 0; padding-left: 24px;">
                    <li>RSV adult (incl pregnancy)</li>
                    <li>Pertussis</li>
                  </ul>
                </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change</a></td>
              </tr>
            </tbody>
          </table>

        <table class="nhsuk-table nhsuk-u-margin-bottom-3">
          <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
              Total appointments: 440
            </th>
            <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Booked: 440
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Unbooked: 0
          </tr>
        </table>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Vaccines
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    RSV adult (incl pregnancy)
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Abrysvo
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Monday 22 September&sessionVaccine=RSV adult (incl pregnancy)&sessionProduct=Abrysvo">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Pertussis
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Repevax vaccine suspension
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Monday 22 September&sessionVaccine=Pertussis&sessionProduct=Repevax vaccine suspension">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </details>

        <ul class="custom-mya-nav">
          <li><a class="nhsuk-link" href="/mya/bookings-scheduled">View patient list</a></li>
          <li><a class="nhsuk-link" href="cancel-day-sure">Cancel day</a></li>
        </ul>

        </div>
      </div>

      {# TUESDAY #}
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Tuesday 23 September</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>

            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">
                  <ul class="nhsuk-list" style="margin: 0; padding-left: 24px;">
                    <li>RSV adult (incl pregnancy)</li>
                    <li>Pertussis</li>
                  </ul>
                </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change</a></td>
              </tr>
            </tbody>
          </table>

        <table class="nhsuk-table nhsuk-u-margin-bottom-3">
          <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
              Total appointments: 440
            </th>
            <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Booked: 440
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Unbooked: 0
          </tr>
        </table>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Vaccines
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    RSV adult (incl pregnancy)
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Abrysvo
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Tuesday 23 September&sessionVaccine=RSV adult (incl pregnancy)&sessionProduct=Abrysvo">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Pertussis
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Repevax vaccine suspension
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Tuesday 23 September&sessionVaccine=Pertussis&sessionProduct=Repevax vaccine suspension">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </details>

        <ul class="custom-mya-nav">
          <li><a class="nhsuk-link" href="/mya/bookings-scheduled">View patient list</a></li>
          <li><a class="nhsuk-link" href="cancel-day-sure">Cancel day</a></li>
        </ul>

        </div>
      </div>

      {# WEDNESDAY #}
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Wednesday 24 September</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>

            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">
                  <ul class="nhsuk-list" style="margin: 0; padding-left: 24px;">
                    <li>RSV adult (incl pregnancy)</li>
                    <li>Pertussis</li>
                  </ul>
                </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change</a></td>
              </tr>
            </tbody>
          </table>

        <table class="nhsuk-table nhsuk-u-margin-bottom-3">
          <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
              Total appointments: 440
            </th>
            <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Booked: 440
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Unbooked: 0
          </tr>
        </table>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Vaccines
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    RSV adult (incl pregnancy)
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Abrysvo
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Wednesday 24 September&sessionVaccine=RSV adult (incl pregnancy)&sessionProduct=Abrysvo">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Pertussis
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Repevax vaccine suspension
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Wednesday 24 September&sessionVaccine=Pertussis&sessionProduct=Repevax vaccine suspension">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </details>

        <ul class="custom-mya-nav">
          <li><a class="nhsuk-link" href="/mya/bookings-scheduled">View patient list</a></li>
          <li><a class="nhsuk-link" href="cancel-day-sure">Cancel day</a></li>
        </ul>

        </div>
      </div>

      {# THURSDAY #}
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Thursday 25 September</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>

            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">
                  <ul class="nhsuk-list" style="margin: 0; padding-left: 24px;">
                    <li>RSV adult (incl pregnancy)</li>
                    <li>Pertussis</li>
                  </ul>
                </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change</a></td>
              </tr>
            </tbody>
          </table>

        <table class="nhsuk-table nhsuk-u-margin-bottom-3">
          <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
              Total appointments: 440
            </th>
            <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Booked: 440
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Unbooked: 0
          </tr>
        </table>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Vaccines
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    RSV adult (incl pregnancy)
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Abrysvo
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Thursday 25 September&sessionVaccine=RSV adult (incl pregnancy)&sessionProduct=Abrysvo">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Pertussis
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Repevax vaccine suspension
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Thursday 25 September&sessionVaccine=Pertussis&sessionProduct=Repevax vaccine suspension">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </details>

        <ul class="custom-mya-nav">
          <li><a class="nhsuk-link" href="/mya/bookings-scheduled">View patient list</a></li>
          <li><a class="nhsuk-link" href="cancel-day-sure">Cancel day</a></li>
        </ul>

        </div>
      </div>

      {# FRIDAY #}
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Friday 26 September</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>

            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">
                  <ul class="nhsuk-list" style="margin: 0; padding-left: 24px;">
                    <li>RSV adult (incl pregnancy)</li>
                    <li>Pertussis</li>
                  </ul>
                </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change</a></td>
              </tr>
            </tbody>
          </table>

        <table class="nhsuk-table nhsuk-u-margin-bottom-3">
          <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
              Total appointments: 440
            </th>
            <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Booked: 440
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Unbooked: 0
          </tr>
        </table>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Vaccines
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    RSV adult (incl pregnancy)
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Abrysvo
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Friday 26 September&sessionVaccine=RSV adult (incl pregnancy)&sessionProduct=Abrysvo">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Pertussis
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Repevax vaccine suspension
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Friday 26 September&sessionVaccine=Pertussis&sessionProduct=Repevax vaccine suspension">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </details>

        <ul class="custom-mya-nav">
          <li><a class="nhsuk-link" href="/mya/bookings-scheduled">View patient list</a></li>
          <li><a class="nhsuk-link" href="cancel-day-sure">Cancel day</a></li>
        </ul>

        </div>
      </div>

      {# SATURDAY #}
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">Saturday 27 September</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Time
                </th>
                
                <th role="columnheader" class="" scope="col">
                  Services
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Booked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Unbooked
                </th>
                <th role="columnheader" class="" scope="col" style="text-align: right;">
                  Action
                </th>
              </tr>
            </thead>

            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="row" style="padding: 8px 24px 8px 1px;">09:00 - 17:00</td>
                <td class="nhsuk-table__cell" style="padding: 8px 24px 8px 1px;">
                  <ul class="nhsuk-list" style="margin: 0; padding-left: 24px;">
                    <li>RSV adult (incl pregnancy)</li>
                    <li>Pertussis</li>
                  </ul>
                </td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">220 booked<br>200 booked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;">0 unbooked</td>
                <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; text-align: right;"><a class="nhsuk-link" href="edit-session">Change</a></td>
              </tr>
            </tbody>
          </table>

        <table class="nhsuk-table nhsuk-u-margin-bottom-3">
          <tr role="row">
            <th role="columnheader" class="" scope="col" style="padding: 8px 24px 8px 1px; border-bottom: 0px;">
              Total appointments: 440
            </th>
            <td class="nhsuk-table__cell" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Booked: 440
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="padding: 8px 1px 8px 24px; border-bottom: 0px;">
              Unbooked: 0
          </tr>
        </table>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Vaccines
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    RSV adult (incl pregnancy)
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Abrysvo
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Saturday 27 September&sessionVaccine=RSV adult (incl pregnancy)&sessionProduct=Abrysvo">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                  <dt class="nhsuk-summary-list__key">
                    Pertussis
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    Repevax vaccine suspension
                  </dd>
                  <dd class="nhsuk-summary-list__value">
                    2
                  </dd>
                  <dd class="nhsuk-summary-list__actions">
                    <ul class="nhsuk-summary-list__actions-list">
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="#/">View<span class="nhsuk-u-visually-hidden"> batch</span></a>
                      </li>
                      <li class="nhsuk-summary-list__actions-list-item">
                        <a class="nhsuk-link" href="/vaccines/add-batch?batchNumber=&week=four&sessionDate=Saturday 27 September&sessionVaccine=Pertussis&sessionProduct=Repevax vaccine suspension">Add batch</a>
                      </li>
                    </ul>
                  </dd>
                </div>
              </dl>
            </div>
          </details>

        <ul class="custom-mya-nav">
          <li><a class="nhsuk-link" href="/mya/bookings-scheduled">View patient list</a></li>
          <li><a class="nhsuk-link" href="cancel-day-sure">Cancel day</a></li>
        </ul>

        </div>
      </div>

      {# SUNDAY #}
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
           Sunday 28 September     
          </h3>
          <p>No availability</p>    
          <p><a class="nhsuk-link" href="add-availability">Add session<span class="nhsuk-u-visually-hidden"> to Sunday 28 September</span></a></p>
        </div>
      </div>
                                                    
      <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
        <ul class="nhsuk-list nhsuk-pagination__list">
          <li class="nhsuk-pagination-item--previous">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" href="week-september-15-21?addedBatch=">
              <span class="nhsuk-pagination__title">Previous week</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">15 September to 21 September</span>
              <svg class="nhsuk-icon nhsuk-icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M10.7 6.3c.4.4.4 1 0 1.4L7.4 11H19a1 1 0 0 1 0 2H7.4l3.3 3.3c.4.4.4 1 0 1.4a1 1 0 0 1-1.4 0l-5-5A1 1 0 0 1 4 12c0-.3.1-.5.3-.7l5-5a1 1 0 0 1 1.4 0Z"/>
              </svg>
            </a>
          </li>
          <li class="nhsuk-pagination-item--next">
            <a class="nhsuk-pagination__link nhsuk-pagination__link--next" href="week-september-29-october-5?addedBatch=">
              <span class="nhsuk-pagination__title">Next week</span>
              <span class="nhsuk-u-visually-hidden">:</span>
              <span class="nhsuk-pagination__page">29 September to 5 October</span>
              <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z"/>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
