{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}

{% block pageTitle %}
  {% if data['e2eCurrentUserType'] == "" %}
    Patient cohort list upload successful
  {% else %}
    Patient list upload successful
  {% endif %}
{% endblock %}

{#{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>
{% endblock %}#}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--interruption">
        <h1 class="nhsuk-panel__title">
          Patient list upload successful
        </h1>
        <div class="nhsuk-panel__body">
          <strong>763</strong> patients have been successfully uploaded
        </div>
      </div>

      {#<div class="nhsuk-inset-text">
        <p class="nhsuk-card__description nhsuk-u-font-size-26"><span class="nhsuk-u-visually-hidden">Information: </span><strong>763</strong> patients uploaded</p>
      </div>#}

        <p class="nhsuk-body">We will send you a confirmation email to here@there.com with an update on the processed patient list you have uploaded.</p>
        <h2 class="nhsuk-heading-m">What happens next</h2>
        <p class="nhsuk-body">
          Something something something something something something something something something something.
        </p>
        <p class="nhsuk-body">
          Something something something.
        </p>


<!--
      {# What would you like to do next? #}

      <h2 class="nhsuk-heading-m nhsuk-u-padding-top-4">
        What would you like to do next?
      </h2>

      {% if data['e2eCurrentUserType'] == "" %}
        <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-margin-bottom-0">
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-xs"><a class="nhsuk-card__link" href="/send-invites/mvp-choose-cohort">Patient list view{#View patient cohort#}</a></h2>
              </div>
            </div>
          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-xs"><a class="nhsuk-card__link" href="patient-upload">Provide your patient list{#Manage patient lists#}</a></h2>
              </div>
            </div>
          </li>
        </ul>
      {% else %}
        <ul class="nhsuk-grid-row nhsuk-card-group nhsuk-u-margin-bottom-0">
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-xs"><a class="nhsuk-card__link" href="/send-invites/send-invites?invitesSent=">Create and send invitations</a></h2>
              </div>
            </div>
          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-xs"><a class="nhsuk-card__link" href="view-patient-list">View patient list{#View patient cohort#}</a></h2>
              </div>
            </div>
          </li>
          <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-xs"><a class="nhsuk-card__link" href="/patient-tracker/index?nhsNumberKnown&nhsNumber">Find an individual patient</a></h2>
              </div>
            </div>
          </li>
        </ul>

        <p class="nhsuk-body">
          <a href="patient-upload">Return to <strong>Provide your patient list{#Manage patient lists#}</strong>.</a>
        </p>
      {% endif %}

      {#<form class="form" action="patient-upload" class="submit">
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
      </form>#}
-->

    </div>
  </div>
{% endblock %}