{% extends 'layout-ravs-infants.html' %}

{% set pageName = "Check and confirm" %}

{% set currentSection = "vaccinate" %}

{% block beforeContent %}
  {{ backLink({ href: "injection-site" }) }}
{% endblock %}

{% set consentHtml %}
  {% if data.consent == "patient" %}
    Patient
  {% elseif data.consent == "Clinician acting in the patient's best interests" %}
    {{ data.consentClinicianName }}
    <br>Clinician
  {% elseif data.consent == "Person with lasting power of attorney for health and welfare" %}
    {{ data.consentAttorneyName }}
    <br>{{ data.consentAttorneyRelationship }}
    <br>Power of attorney
  {% elseif data.consent == "Parent or guardian" %}
    {{ data.consentParentName }}
    <br>Parent or guardian
  {% elseif data.consent == "Independent mental capacity advocate" %}
    {{ data.consentAdvocateName }}
    <br>Independent mental capacity advocate
  {% elseif data.consent == "Court appointed deputy" %}
    {{ data.consentDeputyName }}
    <br>{{ data.consentDeputyRelationship }}
    <br>Court appointed deputy
  {% endif %}
{% endset %}

{% set batchHtml %}
  {% if data.vaccineBatch == "add-new" %}
    {{ data.newBatchNumber }}
    <br>Expires {{ (data.newBatchExpiryDate | isoDateFromDateInput | govukDate)  }}
  {% else %}
    {{ data.vaccineBatch }}
    <br>Expires 4 June 2026
  {% endif %}
{% endset %}

{% set locationHtml %}
  {% if data.locationType == "Care home" %}
    {{ careHome.name }}<br>
    {{ careHome.address }}
  {% else %}
    {{ data.locationType }}
  {% endif %}
{% endset %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">Check and confirm</h1>

      <h2 class="nhsuk-heading-m">Patient</h2>
      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: (data.firstName + " " + data.lastName)
            },
            actions: {
              items: [
                {
                  href: "/record-vaccinations/create-a-record",
                  text: "Change",
                  visuallyHiddenText: "name"
                } if not data.nhsNumber
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: data.dobFormatted + "<br><span class='nhsuk-u-secondary-text-color'>(" + data.ageLabel + ")</span>" | safe
            },
            actions: {
              items: [
                {
                  href: "/record-vaccinations/create-a-record",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                } if not data.nhsNumber
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: data.address | safe
            },
            actions: {
              items: [
              ]
            }
          } if data.nhsNumber,
          {
            key: {
              text: "Postcode"
            },
            value: {
              text: data.postcode
            },
            actions: {
              items: [
                {
                  href: "/record-vaccinations/create-a-record",
                  text: "Change",
                  visuallyHiddenText: "postcode"
                } if not data.nhsNumber
              ]
            }
          } if not data.nhsNumber,
          {
            key: {
              text: "NHS number"
            },
            value: {
              text: data.nhsNumberFormatted
            },
            actions: {
              items: [
              ]
            }
          } if data.nhsNumber,
          {
            key: {
              text: "Gender"
            },
            value: {
              text: data.gender
            },
            actions: {
              items: [
                {
                  href: "/record-vaccinations/create-a-record",
                  text: "Change",
                  visuallyHiddenText: "gender"
                } if not data.nhsNumber
              ]
            }
          } if not data.nhsNumber
        ]
      }) }}

      <h2 class="nhsuk-heading-m">Vaccination</h2>
      {{ summaryList({
        rows: [
          {
            key: {
              text: "Date"
            },
            value: {
              text: ("Today" if data.vaccinationToday == "yes" else (data.vaccinationDate | isoDateFromDateInput | govukDate))
            },
            actions: {
              items: [
                {
                  href: "is-the-vaccination-today",
                  text: "Change",
                  visuallyHiddenText: "vaccination date"
                }
              ]
            }
          },
          {
            key: {
              text: "Site"
            },
            value: {
              text: data.deliveryTeam
            },
            actions: {
              items: [
                {
                  href: "delivery-team",
                  text: "Change",
                  visuallyHiddenText: "Site"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccinator"
            },
            value: {
              text: currentUser.firstName + " " + currentUser.lastName
            },
            actions: {
              items: [
                {
                  href: "vaccinator",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          },
          {
            key: {
              text: "Vaccine"
            },
            value: {
              html: (data.whichVaccine | capitaliseFirstLetter) + "<br>" + data.vaccineProduct
            },
            actions: {
              items: [
                {
                  href: "vaccine",
                  text: "Change",
                  visuallyHiddenText: "vaccine"
                }
              ]
            }
          },
          {
            key: {
              text: "Dose"
            },
            value: {
              text: data.dosage
            },
            actions: {
              items: [
                {
                  href: "dosage",
                  text: "Change",
                  visuallyHiddenText: "dose amount"
                }
              ]
            }
          } if (data.whichVaccine == '6-in-1' or data.whichVaccine == 'Flu' or data.whichVaccine == 'MenB' or data.whichVaccine == 'MMRV' or data.whichVaccine == 'Pneumococcal'),
          {
            key: {
              text: "Batch"
            },
            value: {
              html: batchHtml
            },
            actions: {
              items: [
                {
                  href: ("/record-vaccinations/add-batch" if data.vaccineBatch == "add-new" else "batch"),
                  text: "Change",
                  visuallyHiddenText: "vaccine batch"
                }
              ]
            }
          },
          {
            key: {
              text: "Eligibility"
            },
            value: {
              html: data.eligibility
            },
            actions: {
              items: [
                {
                  href: "eligibility",
                  text: "Change",
                  visuallyHiddenText: "eligibility"
                }
              ]
            }
          } if (data.whichVaccine != "pertussis"),
          {
            key: {
              text: "Role"
            },
            value: {
              html: data.healthcareWorker
            },
            actions: {
              items: [
                {
                  href: "/record-vaccinations/healthcare-worker",
                  text: "Change",
                  visuallyHiddenText: "role"
                }
              ]
            }
          } if (data.healthcareWorker),
          {
            key: {
              text: "Pregnancy due date"
            },
            value: {
              text: (data.pregnancyDueDate | isoDateFromDateInput | govukDate)
            },
            actions: {
              items: [
                {
                  href: "/record-vaccinations/patient-estimated-due-date",
                  text: "Change",
                  visuallyHiddenText: "pregnancy due date"
                }
              ]
            }
          } if ((data.whichVaccine == "pertussis") or ((data.eligibility | arrayOrStringIncludes("Pregnant"))) and (data.whichVaccine == "RSV")),
          {
            key: {
              text: "Consent given by"
            },
            value: {
              html: consentHtml
            },
            actions: {
              items: [
                {
                  href: "consent",
                  text: "Change",
                  visuallyHiddenText: "consent"
                }
              ]
            }
          },
          {
            key: {
              text: "Injection site"
            },
            value: {
              html: (data.otherInjectionSite if data.injectionSite == "other" else data.injectionSite)
            },
            actions: {
              items: [
                {
                  href: "injection-site",
                  text: "Change",
                  visuallyHiddenText: "Injection site"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="check" method="post" novalidate>

        {{ textarea({
          name: "notes",
          id: "notes",
          label: {
            text: "Optional note"
          },
          hint: {
            text: "This will not be sent to the patient's GP. Only your organisation will see it."
          },
          rows: 3,
          classes: "nhsuk-u-margin-bottom-7"
        }) }}


        {{ button({
          text: "Confirm and save"
        })}}
      </form>

    </div>
  </div>

{% endblock %}