<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{# extends 'current/layouts/layout-top-nav-sites.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}

<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
</html>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
            <!-- Change the page title here -->
            <span class="nhsuk-caption-l">Create weekly session</span>
            <h1 class="nhsuk-heading-l">Set time and capacity for your session</h1>

    

      <form action="services-add" class="form">
        <div class="nhsuk-form-group">
          

        
          <fieldset class="nhsuk-fieldset" aria-describedby="time-hint" role="group">

            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h5 class="nhsuk-heading-s" style="margin-bottom: 0px;">
                          Session times
                        </h5>
                      </legend>
                      <div class="nhsuk-hint" id="contact-hint">
                        For example, 14:30
                      </div>
                          <label class="nhsuk-label" for="startTime">Start time</label>
                          <input class="nhsuk-input  nhsuk-input--width-2" label="Start time" id="start-time" name="start-time"> : <input class="nhsuk-input  nhsuk-input--width-2" label="Start time" id="start-time" name="start-time">
                        <label class="nhsuk-label">End time</label>
                          <input class="nhsuk-input  nhsuk-input--width-2" label="End time" id="end-time" name="end-time"> : <input class="nhsuk-input  nhsuk-input--width-2" label="End time" id="end-time" name="end-time">

      </fieldset><br><br>
      

        <!--<fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h5 class="nhsuk-heading-s" style="margin-bottom: 0px;">
              Add a break to this session?
            </h5>
          </legend>
      
      
          <div class="nhsuk-radios nhsuk-radios--conditional">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-1" name="break" type="radio" value="Yes" aria-controls="conditional-contact-1" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                Yes
              </label>
            </div>
      
            <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
              <div class="nhsuk-hint" id="contact-hint">
                For example, 14:30
              </div>

              <label class="nhsuk-label" for="startTime">Start time</label>
              <input class="nhsuk-input  nhsuk-input--width-2" label="Start time" id="break-start" name="break-start"> : <input class="nhsuk-input  nhsuk-input--width-2" label="Start time" id="break-start" name="break-start">
            <label class="nhsuk-label">End time</label>
              <input class="nhsuk-input  nhsuk-input--width-2" label="End time"  id="break-end" name="break-end"> : <input class="nhsuk-input  nhsuk-input--width-2" label="End time"  id="break-end" name="break-end">
      
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="contact-2" name="break" type="radio" value="No" aria-controls="conditional-contact-2" aria-expanded="false">
              <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                No
              </label>
            </div>      
      
          </div>
        </fieldset><br><br>-->

        <h5 class="nhsuk-heading-m" style="margin-bottom: 8px;">Capacity</h5>
        <div class="nhsuk-hint" id="contact-hint">
          Enter your capacity to calculate appointment numbers for this session.
        </div>
        <h5 class="nhsuk-heading-s" style="margin-bottom: 8px;">How many vaccinators or vaccination spaces do you have?</h5>
                <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
        <div class="nhsuk-form-group">
          <input class="nhsuk-input nhsuk-input--width-3" id="maths1" name="simultaneous-appointments" type="text">
        </div>

        <h5 class="nhsuk-heading-s" style="margin-bottom: 8px;">How long are your appointments?</h5>
        <div class="nhsuk-form-group">
          <input class="nhsuk-input nhsuk-input--width-3" id="maths2" name="appointment-length" type="text"><div class="nhsuk-input__suffix" aria-hidden="true">Minutes</div>
        </div>
        </fieldset>

      </div>


      <div class="nhsuk-inset-text">
        <strong><p style="margin-bottom: 0px;">Capacity calculator</p></strong>
        <span class="nhsuk-u-visually-hidden">Information: </span><p><strong>0</strong> total appointments in the session<br>
          <strong>0</strong> appointments per hour<br>

        </p></div>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
      </form>




      <!-- End of content -->

    </div>
  </div>
{% endblock %}
