<!-- Use this page as the index for your project -->
<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<!-- Extends the layout from /views/layout.html -->
{# extends 'current/layouts/layout-top-nav-sites.html' #}
{% extends 'e2e-layout3.html' %}

{% set currentSection = "organise" %}
<!--
 In /views/layout.html you can:
 - change the header and footer
 - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Manage appointments - {{site}} - 11 June 2025
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- Link to external CSS file -->
{% block header %}
<link rel="stylesheet" href="/css/appointments-multiselect.css">
<style>
.disabled-link {
    color: #768692 !important;
    text-decoration: none !important;
    cursor: not-allowed !important;
    pointer-events: none;
}
</style>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <!-- Change the page title here -->
        <!--<span class="nhsuk-caption-l">Hornsey Central Pharmacy</span>-->
        <span class="nhsuk-caption-l">Birmingham Women's Hospital</span>
        <h1 class="nhsuk-heading-l">All appointments for Monday 1 {{date({month:'long'})}}</h1>

        {#<span class="nhsuk-hint">{{site}}</span>
        <h1 class="nhsuk-heading-l">All appointments for Monday 1 {{date({month:'long'})}}</h1>#}

        <!-- Print button -->
        <button class="nhsuk-button nhsuk-button--secondary-custom" onclick="window.print()">
            Print page
        </button>
        
        <hr class="nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-1">
        
        <!-- Bulk Actions Bar - Always Visible -->
        <div class="bulk-actions" id="bulkActions">
            <div class="bulk-actions-content">
                <div class="bulk-buttons">
                    <button class="nhsuk-button nhsuk-button--warning" id="cancelButton" onclick="goToCancelConfirmation()" disabled>
                        Cancel appointments
                    </button>
                    <button class="nhsuk-button nhsuk-button--secondary-custom" id="clearButton" onclick="clearSelection()" disabled>
                        Clear
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Appointments Table -->
        <div class="nhsuk-table-responsive">
            <table class="nhsuk-table appointments-table">
                <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
                    Scheduled appointments for {{site}} on {{date()}}.
                </caption>
                <thead class="nhsuk-table__head">
                    <tr class="nhsuk-table__row">
                        <th class="nhsuk-table__header checkbox-cell" scope="col">
                            <input type="checkbox" class="select-all-checkbox" id="selectAll" onchange="toggleSelectAll()" aria-label="Select all appointments">
                        </th>
                        <th class="nhsuk-table__header" scope="col">Time</th>
                        <th class="nhsuk-table__header" scope="col">Name and NHS number</th>
                        <th class="nhsuk-table__header" scope="col">Date of birth</th>
                        <th class="nhsuk-table__header" scope="col">Contact details</th>
                        <th class="nhsuk-table__header" scope="col">Services</th>
                        <th class="nhsuk-table__header" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                    <!--{% set appointments = [
                        {time: "8:30", name: "John Smith", nhs: "999 123 4567", dob: "1 January 1954", contact: "07712345678<br>john.smith@email.com", service: "RSV"},
                        {time: "8:35", name: "Martin Lincoln", nhs: "999 123 4568", dob: "7 June 1958", contact: "martin.lincoln@email.com", service: "RSV"},
                        {time: "8:45", name: "Mike Jones", nhs: "999 123 4569", dob: "15 October 1950", contact: "07712345678", service: "RSV"},
                        {time: "8:50", name: "Clive Lochan", nhs: "999 123 4571", dob: "4 June 1947", contact: "07712345678<br>Clive1@email.com", service: "RSV"},
                        {time: "8:45", name: "Norma Davies", nhs: "999 123 4570", dob: "26 August 1978", contact: "norma.davies78@email.com", service: "RSV"},
                        {time: "8:50", name: "Dylan Barton", nhs: "999 123 4572", dob: "25 May 1950", contact: "07712345678", service: "RSV"},
                        {time: "8:55", name: "Jacob Blick", nhs: "999 123 4573", dob: "3 May 1950", contact: "07712345678", service: "RSV"},
                        {time: "8:55", name: "Jacob Blick", nhs: "999 123 4573", dob: "3 May 1950", contact: "07712345678", service: "RSV"},
                        {time: "9:00", name: "Tobias Boehm", nhs: "999 123 4574", dob: "1 February 1950", contact: "07712345678", service: "RSV"},
                        {time: "9:05", name: "Jonathan Carroll", nhs: "999 123 4575", dob: "29 January 1940", contact: "07712345678", service: "RSV"},
                        {time: "9:05", name: "Connie Corkery", nhs: "999 123 4576", dob: "1 September 1950", contact: "07712345678", service: "RSV"},
                        {time: "9:15", name: "Mohamed Bartoletti", nhs: "999 123 4577", dob: "6 November 1950", contact: "07712345678", service: "RSV"},
                        {time: "9:15", name: "Elijah Anderson", nhs: "999 123 4578", dob: "4 July 1958", contact: "07712345678<br>ea58@email.co.uk", service: "RSV"}
                    ] %}-->
                    
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell checkbox-cell">
                            <input type="checkbox" class="row-checkbox" onchange="updateSelection()" aria-label="Select appointment for Sam Aarons">
                        </td>
                        <td class="nhsuk-table__cell">8:30</td>
                        <td class="nhsuk-table__cell">
                            <strong>Sam Aarons</strong><br>
                            999 123 4567
                        </td>
                        <td class="nhsuk-table__cell">12 July 1999</td>
                        <td class="nhsuk-table__cell">07712345678<br>sam.aaronsh@email.com</td>
                        <td class="nhsuk-table__cell">RSV</td>
                        <td class="nhsuk-table__cell">
                            <span class="disabled-link">Cancel</span>
                        </td>
                    </tr>

                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell checkbox-cell">
                            <input type="checkbox" class="row-checkbox" onchange="updateSelection()" aria-label="Select appointment for Lia Brighouse">
                        </td>
                        <td class="nhsuk-table__cell">8:35</td>
                        <td class="nhsuk-table__cell">
                            <strong>Lia Brighouse</strong><br>
                            999 123 4568
                        </td>
                        <td class="nhsuk-table__cell">16 May 2006</td>
                        <td class="nhsuk-table__cell">lia.brighouse@email.com</td>
                        <td class="nhsuk-table__cell">RSV</td>
                        <td class="nhsuk-table__cell">
                            <span class="disabled-link">Cancel</span>
                        </td>
                    </tr>

                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell checkbox-cell">
                            <input type="checkbox" class="row-checkbox" onchange="updateSelection()" aria-label="Select appointment for Lia Brighouse">
                        </td>
                        <td class="nhsuk-table__cell">8:40</td>
                        <td class="nhsuk-table__cell">
                            <strong>Jodie Brown</strong><br>
                            916 532 5689
                        </td>
                        <td class="nhsuk-table__cell">1 April 2000</td>
                        <td class="nhsuk-table__cell">jodiebrown@icloud.com</td>
                        <td class="nhsuk-table__cell">RSV</td>
                        <td class="nhsuk-table__cell">
                            <span class="disabled-link">Cancel</span>
                        </td>
                    </tr>

                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell checkbox-cell">
                            <input type="checkbox" class="row-checkbox" onchange="updateSelection()" aria-label="Select appointment for Lia Brighouse">
                        </td>
                        <td class="nhsuk-table__cell">8:45</td>
                        <td class="nhsuk-table__cell">
                            <strong>Norma Davies</strong><br>
                            999 123 4571
                        </td>
                        <td class="nhsuk-table__cell">12 July 1992</td>
                        <td class="nhsuk-table__cell">07712345678<br>norma.davis@gmail.com</td>
                        <td class="nhsuk-table__cell">RSV</td>
                        <td class="nhsuk-table__cell">
                            <span class="disabled-link">Cancel</span>
                        </td>
                    </tr>

                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell checkbox-cell">
                            <input type="checkbox" class="row-checkbox" onchange="updateSelection()" aria-label="Select appointment for Lia Brighouse">
                        </td>
                        <td class="nhsuk-table__cell">8:50</td>
                        <td class="nhsuk-table__cell">
                            <strong>Vera Duckworth</strong><br>
                            999 123 4570
                        </td>
                        <td class="nhsuk-table__cell">30 March 1999</td>
                        <td class="nhsuk-table__cell">07712345678<br>vera.duckworth@yahoo.com</td>
                        <td class="nhsuk-table__cell">RSV</td>
                        <td class="nhsuk-table__cell">
                            <span class="disabled-link">Cancel</span>
                        </td>
                    </tr>

                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell checkbox-cell">
                            <input type="checkbox" class="row-checkbox" onchange="updateSelection()" aria-label="Select appointment for Lia Brighouse">
                        </td>
                        <td class="nhsuk-table__cell">8:55</td>
                        <td class="nhsuk-table__cell">
                            <strong>Katie Elliot</strong><br>
                            999 123 4572
                        </td>
                        <td class="nhsuk-table__cell">14 November 1994</td>
                        <td class="nhsuk-table__cell">07712345678</td>
                        <td class="nhsuk-table__cell">RSV</td>
                        <td class="nhsuk-table__cell">
                            <span class="disabled-link">Cancel</span>
                        </td>
                    </tr>

                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell checkbox-cell">
                            <input type="checkbox" class="row-checkbox" onchange="updateSelection()" aria-label="Select appointment for Lia Brighouse">
                        </td>
                        <td class="nhsuk-table__cell">9:00</td>
                        <td class="nhsuk-table__cell">
                            <strong>Jane Ellison</strong><br>
                            999 123 4573
                        </td>
                        <td class="nhsuk-table__cell">3 March 2002</td>
                        <td class="nhsuk-table__cell">07712345678</td>
                        <td class="nhsuk-table__cell">RSV</td>
                        <td class="nhsuk-table__cell">
                            <span class="disabled-link">Cancel</span>
                        </td>
                    </tr>

                    {# for appointment in appointments %}
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell checkbox-cell">
                            <input type="checkbox" class="row-checkbox" onchange="updateSelection()" aria-label="Select appointment for {{appointment.name}}">
                        </td>
                        <td class="nhsuk-table__cell">{{appointment.time}}</td>
                        <td class="nhsuk-table__cell">
                            <strong>{{appointment.name}}</strong><br>
                            {{appointment.nhs}}
                        </td>
                        <td class="nhsuk-table__cell">{{appointment.dob}}</td>
                        <td class="nhsuk-table__cell">{{appointment.contact | safe}}</td>
                        <td class="nhsuk-table__cell">{{appointment.service}}</td>
                        <td class="nhsuk-table__cell">
                            <span class="disabled-link">Cancel</span>
                        </td>
                    </tr>
                    {% endfor #}
                    
                    <!-- Available slot row -->
                    <tr class="nhsuk-table__row available-slot">
                        <td class="nhsuk-table__cell checkbox-cell"></td>
                        <td class="nhsuk-table__cell"><strong>9:20 - 10:00</strong></td>
                        <td class="nhsuk-table__cell" colspan="5"><strong>8 available appointments</strong></td>
                    </tr>
                    
                    <!--{% set moreAppointments = [
                        {time: "10:00", name: "Hattie Beer", nhs: "999 123 4579", dob: "8 August 1951", contact: "07712345678", service: "RSV"},
                        {time: "10:05", name: "Felicity Bergstrom", nhs: "999 123 4580", dob: "17 April 1949", contact: "07712345678", service: "RSV"},
                        {time: "10:05", name: "Ibrahim Hessel", nhs: "999 123 4581", dob: "3 April 1950", contact: "07712345678", service: "RSV"},
                        {time: "10:10", name: "Syed Johnson", nhs: "999 123 4582", dob: "9 February 1950", contact: "07712345678", service: "RSV"},
                        {time: "10:15", name: "Jakob Marquardt-Runolfsdottir", nhs: "999 123 4583", dob: "7 February 1950", contact: "07712345678", service: "RSV"},
                        {time: "10:15", name: "Violet Mocicki", nhs: "999 123 4584", dob: "26 October 1954", contact: "07712345678", service: "RSV"},
                        {time: "10:20", name: "David Anderson", nhs: "999 123 4585", dob: "15 December 1951", contact: "07712345678", service: "RSV"}
                    ] %}
                    
                    {% for appointment in moreAppointments %}
                    <tr class="nhsuk-table__row">
                        <td class="nhsuk-table__cell checkbox-cell">
                            <input type="checkbox" class="row-checkbox" onchange="updateSelection()" aria-label="Select appointment for {{appointment.name}}">
                        </td>
                        <td class="nhsuk-table__cell">{{appointment.time}}</td>
                        <td class="nhsuk-table__cell">
                            <strong>{{appointment.name}}</strong><br>
                            {{appointment.nhs}}
                        </td>
                        <td class="nhsuk-table__cell">{{appointment.dob}}</td>
                        <td class="nhsuk-table__cell">{{appointment.contact | safe}}</td>
                        <td class="nhsuk-table__cell">{{appointment.service}}</td>
                        <td class="nhsuk-table__cell">
                            <span class="disabled-link">Cancel</span>
                        </td>
                    </tr>
                    {% endfor %}-->
                </tbody>
            </table>
        </div>
        
    <nav class="nhsuk-pagination nhsuk-pagination--numbered" role="navigation" aria-label="Pagination">
        <div class="nhsuk-pagination--numbered__prev">
            <a class="nhsuk-pagination--numbered__link" href="#/" rel="prev">
                <svg class="nhsuk-icon nhsuk-icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                    <path d="M10.7 6.3c.4.4.4 1 0 1.4L7.4 11H19a1 1 0 0 1 0 2H7.4l3.3 3.3c.4.4.4 1 0 1.4a1 1 0 0 1-1.4 0l-5-5A1 1 0 0 1 4 12c0-.3.1-.5.3-.7l5-5a1 1 0 0 1 1.4 0Z"/>
                </svg>
                Previous<span class="nhsuk-u-visually-hidden"> page</span>
            </a>
        </div>
      
        <ul class="nhsuk-pagination__list--numbered">
            <li class="nhsuk-pagination--numbered__item">
                <a class="nhsuk-pagination--numbered__link" href="#/" aria-label="Page 1">1</a>
            </li>
            <li class="nhsuk-pagination--numbered__item">
                <a class="nhsuk-pagination--numbered__link" href="#/" aria-label="Page 2">2</a>
            </li>
            <li class="nhsuk-pagination--numbered__item">
                <a class="nhsuk-pagination--numbered__link" href="#/" aria-label="Page 3">3</a>
            </li>
        </ul>

        <div class="nhsuk-pagination--numbered__next">
            <a class="nhsuk-pagination--numbered__link" href="#/" rel="next">Next<span class="nhsuk-u-visually-hidden"> page</span>
                <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                    <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z"/>
                </svg>
            </a>
        </div>
    </nav>
    </div>
</div>

<!-- JavaScript for bulk actions only - individual cancel links disabled -->
<script>
let selectedCount = 0;

function updateSelection() {
    const checkboxes = document.querySelectorAll('.row-checkbox');
    const selectAllCheckbox = document.getElementById('selectAll');
    const cancelButton = document.getElementById('cancelButton');
    const clearButton = document.getElementById('clearButton');
    
    selectedCount = Array.from(checkboxes).filter(cb => cb.checked).length;
    
    // Update button states
    if (selectedCount > 0) {
        cancelButton.disabled = false;
        clearButton.disabled = false;
    } else {
        cancelButton.disabled = true;
        clearButton.disabled = true;
    }
    
    // Update select all checkbox state
    if (selectedCount === 0) {
        selectAllCheckbox.indeterminate = false;
        selectAllCheckbox.checked = false;
    } else if (selectedCount === checkboxes.length) {
        selectAllCheckbox.indeterminate = false;
        selectAllCheckbox.checked = true;
    } else {
        selectAllCheckbox.indeterminate = true;
    }
    
    // Update row highlighting
    checkboxes.forEach(checkbox => {
        const row = checkbox.closest('tr');
        if (checkbox.checked) {
            row.classList.add('selected');
        } else {
            row.classList.remove('selected');
        }
    });
}

function toggleSelectAll() {
    const selectAllCheckbox = document.getElementById('selectAll');
    const checkboxes = document.querySelectorAll('.row-checkbox');
    
    checkboxes.forEach(checkbox => {
        checkbox.checked = selectAllCheckbox.checked;
    });
    
    updateSelection();
}

function clearSelection() {
    const checkboxes = document.querySelectorAll('.row-checkbox');
    const selectAllCheckbox = document.getElementById('selectAll');
    
    checkboxes.forEach(checkbox => {
        checkbox.checked = false;
    });
    selectAllCheckbox.checked = false;
    
    updateSelection();
}

function goToCancelConfirmation() {
    if (selectedCount > 0) {
        // Store selected appointments in session storage or send via POST
        const selectedAppointments = [];
        const checkboxes = document.querySelectorAll('.row-checkbox:checked');
        
        checkboxes.forEach(checkbox => {
            const row = checkbox.closest('tr');
            const appointmentData = {
                time: row.cells[1].textContent,
                name: row.cells[2].querySelector('strong').textContent,
                nhs: row.cells[2].textContent.split('\n')[1]?.trim(),
                dob: row.cells[3].textContent,
                contact: row.cells[4].textContent,
                service: row.cells[5].textContent
            };
            selectedAppointments.push(appointmentData);
        });
        
        // Store in session storage for the confirmation page
        sessionStorage.setItem('selectedAppointments', JSON.stringify(selectedAppointments));
        sessionStorage.setItem('selectedCount', selectedCount.toString());
        
        // Navigate to confirmation page
        window.location.href = 'cancel-appointments-confirmation';
    }
}

// Initialize the page
document.addEventListener('DOMContentLoaded', function() {
    updateSelection(); // Set initial button states
    console.log('NHS Appointments page loaded - Individual cancel links disabled, bulk actions enabled');
});
</script>
{% endblock %}