<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'e2e-layout3.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Manage appointments
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


            <!-- Change the page title here -->
            <span class="nhsuk-caption-l">Edit session</span>
            <h1 class="nhsuk-heading-l">Edit time and capacity for Monday 1 {{ date({month: 'long'}) }}</h1>


            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
            
              <p>420 booked appointments in this session.<br>
                0 unbooked appointments in this session.</p>
            </div>
  
      <form action="cancel-bookings" class="form">
        <div class="nhsuk-form-group">
          

        
          <fieldset class="nhsuk-fieldset" aria-describedby="time-hint" role="group">

            <legend class="nhsuk-fieldset__legend nhsuk-label--l">
              <h5 class="nhsuk-heading-s" style="margin-bottom: 0px;">
                          Session times
                        </h5>
                      </legend>
                      <div class="nhsuk-hint" id="contact-hint">
                        For example, 14:30
                      </div>
                          <label class="nhsuk-label" for="startTime">Start time</label>
                          <input class="nhsuk-input  nhsuk-input--width-2" label="Start time" id="start-time" name="start-time"  placeholder="9"> : <input class="nhsuk-input  nhsuk-input--width-2" label="Start time" id="start-time" name="start-time" placeholder="00">
                        <label class="nhsuk-label">End time</label>
                          <input class="nhsuk-input  nhsuk-input--width-2" label="End time" id="end-time" name="end-time" placeholder="17"> : <input class="nhsuk-input  nhsuk-input--width-2" label="End time" id="end-time" name="end-time" placeholder="00">

      </fieldset><br><br>
      


        <h5 class="nhsuk-heading-m" style="margin-bottom: 8px;">Capacity</h5>
        <h5 class="nhsuk-heading-s" style="margin-bottom: 8px;">How many vaccinators or vaccination spaces do you have?</h5>
                <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
        <div class="nhsuk-form-group">
          <input class="nhsuk-input nhsuk-input--width-3" id="simultaneous-appointments" name="simultaneous-appointments" type="text" placeholder="5">
        </div>
        </fieldset>

      </div>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
      </form>
      

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
