{% extends 'layouts/ravs-plus-layout-1-oh.html' %}

{% set currentSection = "plus" %}

{% block beforeContent %}
  {{ backLink({
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

 <h1 class="nhsuk-heading-l">Check your answers</h1>
      <form action="" method="post">
        <dl class="nhsuk-summary-list">
 
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date
    </dt>
    <dd class="nhsuk-summary-list__value">
      2 August 2026
    </dd>
    
    <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/site/1/clinics/details">Change<span class="nhsuk-u-visually-hidden">  date</span></a>
          </dd>
      </div>
  
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Times and capacity
    </dt>
    <dd class="nhsuk-summary-list__value">
      <ul class="nhsuk-list nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
                  <li>Start time: 1:54pm</li>
                  <li>End time: 1:54pm</li>
                  <li>Vaccinators: 4</li>
                  <li>Appointment length: 5 minutes</li>
                  <li>Total appointments per clinic: 0</li>
                </ul>
    </dd>
    
    <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/site/1/clinics/clinic-times">Change<span class="nhsuk-u-visually-hidden">  times and capacity</span></a>
    </dd>
  </div>
    
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Services available
    </dt>
    <dd class="nhsuk-summary-list__value">
      <ul class="nhsuk-list nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
                                          <li>Flu 2 to 3</li>
                                          <li>COVID 5 to 11</li>
                                      </ul>
    </dd>
        <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" href="/site/1/clinics/services">Change<span class="nhsuk-u-visually-hidden">  services available</span></a>
          </dd>
      </div>
  </dl>
        <h2 class="nhsuk-heading-m nhsuk-u-margin-top-6">Before you continue</h2>
        <p class="nhsuk-body">By publishing this clinic series, you confirm that your site is assured to deliver the services you have selected.</p>

<button class="nhsuk-button" data-module="nhsuk-button" type="submit">Publish clinic</button>

      </form>
    </div>
  </div>
{% endblock %}