{% extends 'layouts/ravs-plus-layout-1-oh.html' %}

{% set currentSection = "plus" %}

{% block pageTitle %}
  Staff vaccinations
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

			<span class="nhsuk-caption-l">Release xx</span>
			<h1 class="nhsuk-heading-l">Feature(s)</h1>
			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Description</h2>
			<p class="nhsuk-body">
				[To be added]
			</p>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-4">
        Entry point
      </h2>
      <ul>
        <li><a href="landing">Staff vaccinations landing</a></li>
      </ul>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-4">
        Orphaned... for now
      </h2>
      <ul>
        <li><a href="manage-site">Manage site</a></li>
        <li><a href="user-management-roles">User management roles</a></li>
      </ul>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-4">
        Clinics landing
      </h2>
      <ul>
        <li><a href="view-day">Day view [tab]</a></li>
        <li><a href="view-week">Week view [tab]</a></li>
        <li><a href="view-month">Month view [tab]</a></li>
        <li><a href="create-and-manage-clinics">Create and manage clinics [tab]</a></li>
      </ul>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-4">
        Create and manage clinics
      </h2>
      <ul>
        <li><a href="type-of-clinic">What type of clinic do you want to create?</a></li>
        <li>Series of clinics:
          <ul>
            <li><a href="details-series">Dates (clinic series)</a></li>
            <li><a href="days">Which days will this clinic series run on?</a></li>
            <li><a href="clinic-times">Times and capacity</a></li>
            <li><a href="services">Which services will you offer?</a></li>
              <li>Clinic closures:
                <ul>
                  <li><a href="clinic-closures">Are there any dates when this clinic will not run?</a></li>
                  <li><a href="clinic-closures-add">Add clinic closure</a></li>
                  <li><a href="clinic-closures-playback">Playback clinic closure</a></li>
                </ul>
              </li>
            <li><a href="check-answers-series">Check your answers (clinic series)</a></li>
            <li><a href="success-series">Clinic series created (success)</a></li>
          </ul>
        </li>
        <li>Single clinic:
          <ul>
            <li><a href="details-single">Date (single clinic)</a></li>
            <li><a href="clinic-times">Times and capacity</a></li>
            <li><a href="services">Which services will you offer?</a></li>
            <li><a href="check-answers-single">Check your answers (single clinic)</a></li>
            <li><a href="success-single">Clinic [single] created (success)</a></li>
          </ul>
        </li>
      <!--
        <li></li>
        <li></li>
        <li><a href="">View appointments and manage clinics for your site</a></li>
        <li><a href="appointments/sites">Sites</a></li>
      -->
      </ul>

    </div>
  </div>

{% endblock %}