{% extends 'layouts/ravs-plus-layout-1-oh.html' %}

{% set currentSection = "plus" %}

{% block pageTitle %}
  Staff vaccinations
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

<h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-4">
  Create vaccination session / sessions
</h1>
<ul>
  <li><a href="type-of-clinic">What type of clinic do you want to create?</a></li>
  <li>Clinic series
    <ul>
      <li><a href="details-series">Dates (clinic series)</a></li>
      <li><a href="days">Which days will this clinic series run on?</a></li>
      <li><a href="clinic-times">Times and capacity</a></li>
      <li><a href="services">Which services will you offer?</a></li>
        <li>Clinic closures
          <ul>
            <li><a href="clinic-closures">Are there any dates when this clinic will not run?</a></li>
            <li><a href="clinic-closures-add">Add clinic closure</a></li>
            <li><a href="clinic-closures-playback">Playback clinic closure</a></li>
          </ul>
        </li>
      <li><a href="check-answers-series">Check your answers (clinic series)</a></li>
      <li><a href="success-series">Clinic series created</a></li>
    </ul>
  </li>
  <li> Single clinic
    <ul>
      <li><a href="details-single">Date (single clinic)</a></li>
      <li><a href="clinic-times">Times and capacity</a></li>
      <li><a href="services">Which services will you offer?</a></li>
      <li><a href="check-answers-single">Check your answers (single clinic)</a></li>
      <li><a href="success-single">Clinic [single] created</a></li>
    </ul>
  </li>
<!--
  <li></li>
  <li></li>
  <li><a href="">View appointments and manage clinics for your site</a></li>
  <li><a href="appointments/sites">Sites</a></li>
-->
</ul>

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">
        Staff vaccinations
      </h1>
      <p class="nhsuk-body">View, filter and export vaccination information for your organisation's staff.</p>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">    

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#/">Add patients</a>
              </h2>
              <p class="nhsuk-card__description">Add or replace a list of patients</p>
              <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
              </svg>
            </div>
          </div>
        </li>
      </ul>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#/">Patients</a>
              </h2>
              <p class="nhsuk-card__description">View current list of patients</p>
              <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
              </svg>
            </div>
          </div>
        </li>
      </ul>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="#/">Patient upload history</a>
              </h2>
              <p class="nhsuk-card__description">View a record of all uploaded patient lists</p>
              <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
              </svg>
            </div>
          </div>
        </li>
      </ul>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="change-log">Create vaccination session</a>
              </h2>
              <p class="nhsuk-card__description">Create a new weekly, walk-in or roving vaccination session.</p>
              <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
              </svg>
            </div>
          </div>
        </li>
      </ul>

      <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-full nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="change-log">Booked appointments</a>
              </h2>
              <p class="nhsuk-card__description">View upcoming vaccination appointments</p>
              <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
              </svg>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}