{% extends 'layout-index-only.html' %}

{% set pageName = "NHS Record a vaccination plus prototypes" %}

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-two-thirds">

			<h1 class="nhsuk-heading-xl">
				RAVS+ prototype
			</h1>

			<h2>Features</h2>
			<ul>
				<li><a href="/patient-upload/index">Upload patient list</a></li>
				<li><a href="/patient-list/patients">Patient list</a></li>
				<li><a href="/patient-list-variant-2/patients">Patient list [WIP reference]</a></li>
			</ul>

			{% if data.showOld == "true" %}
				<hr>

				<h2>Provide patient list</h2>
				<ul>
					<li><a href="/patient-upload/choose-upload">Upload patient list and send invites</a></li>
					<li><a href="/patient-upload/uploading">Uploading</a></li>
					<li><a href="/patient-upload/success-upload">Patient cohort list upload successful</a></li>
				</ul>

				<h2>Add patients</h2>
				<ol>
					<li><a href="/patient-upload/add-patients-first-upload">Add patients (1st upload)</a></li>
					<li><a href="/patient-upload/add-patients-update-existing-list">Add patients (update existing list)</a></li>
					<li><a href="/patient-upload/upload-complete">Patients added succesfully</a></li>
					<li><a href="/patient-upload/error-patients-not-added">Error; patients not added</a></li>
					<li><a href="/patient-upload/interruption-page-overwrite-warning">Interruption page (overwrite warning)</a></li>
					<li><a href="#/">Email: Success and ready to view</a></li>
					<li><a href="#/">Email: Error, patients not added, old list restored</a></li>
				</ol>

				<h2>Patient list variant 1</h2>
				<ul>
					<li><a href="/patient-list-variant-1/mvp-choose-cohort">Choose cohort</a></li>
					<li><a href="/patient-list-variant-1/mvp-patient-list">Patient list</a></li>
				</ul>

				<h2>Patient list variant 2</h2>
				<ul>
					<li><a href="/patient-list-variant-2/patients">Patient list</a></li>
				</ul>
			{% endif %}

	    </div>
  	</div>
{% endblock %}