{% extends 'layout-index-only.html' %}

{% set pageName = "NHS Record a vaccination prototypes" %}

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-full">

			<h1 class="nhsuk-heading-xl">
				Prototype
			</h1>
			
			<h2>Provide patient list</h2>
			<ul>
				<li><a href="/patient-upload/choose-upload">Upload patient list and send invites</a></li>
				<li><a href="/patient-upload/uploading">Uploading</a></li>
				<li><a href="/patient-upload/success-upload">Patient cohort list upload successful</a></li>
			</ul>

			<h2>Revised upload patient list</h2>
			<ul>
				<li><a href="/patient-upload/1-choose-patient-list">Choose patient list file</a></li>
				<li><a href="/patient-upload/2-patient-list-uploaded-success">Patient list upload successful</a></li>
			</ul>

			<h2>Patient list variant 1</h2>
			<ul>
				<li><a href="/patient-list-variant-1/mvp-choose-cohort">Choose cohort</a></li>
				<li><a href="/patient-list-variant-1/mvp-patient-list">Patient list</a></li>
			</ul>

			<h2>Patient list variant 2</h2>
			<ul>
				<li><a href="/patient-list-variant-2/patients">Patient list</a></li>
			</ul>

	    </div>
  	</div>
{% endblock %}
