{% extends 'layouts/layout-index-only.html' %}

{% set pageName = "NHS Record a vaccination plus prototypes" %}

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-two-thirds">

			<h1 class="nhsuk-heading-xl">
				RAVS+ prototype
			</h1>

			<h2 class="nhsuk-heading-m">MVP: Maternity Private beta</h2>
			<ul>
				<li><a href="/mvp-patient-upload/index">Upload patient list</a></li>
				<li><a href="/mvp-patient-list-and-export/index">Patient list and export</a></li>
			</ul>

			<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
	
			<h2 class="nhsuk-heading-m">MVP: Occupational health</h2>
			<ul>
				<li><a href="/occupational-health/index">Upload, enrich, patient history, patient list, export, and invite</a></li>
			</ul>
			
			<hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

			<details class="nhsuk-details">
			<summary class="nhsuk-details__summary">
				<span class="nhsuk-details__summary-text">Post MVP features</span>
			</summary>
			<div class="nhsuk-details__text">
				<h2 class="nhsuk-heading-s">Post MVP features</h2>
				<ul>
					<li><a href="/patient-upload/index">Upload patient list</a></li>
					<li><a href="/patient-list-and-export/index">Patient list and export</a></li>
				</ul>
			</div>
			</details>

	    </div>
  	</div>
{% endblock %}