{% extends 'layout-index-only.html' %}

{% set pageName = "NHS Record a vaccination prototypes" %}

{% block beforeContent %}
	{{ backLink({
	href: "/", text: "Back"
	}) }}
{% endblock %}

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-two-thirds">
			<h1 class="nhsuk-heading-l">
				Upload patient list
			</h1>
			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Description</h2>
			<p class="nhsuk-body nhsuk-u-margin-bottom-0">
				Facilitate a logged in user to upload their patient list data (CSV) into the service for the data to then be processed and enriched by the service.
			</p>
		</div>

		<div class="nhsuk-grid-column-full">
			<hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
		</div>

		<div class="nhsuk-grid-column-one-half">
			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Upload page</h2>
			<ol>
				<li><a href="add-patients?scenario=firstUpload">Add patients (first time upload)</a></li>
				<li><a href="add-patients?scenario=updateExisting">Add patients (overwrite existing list)</a></li>
			</ol>
			<p class="nhsuk-body nhsuk-u-margin-bottom-2">In-line error states:</p>
			<ol start="3">
				<li><a href="add-patients?scenario=invalidFileType">Invalid file type</a></li>
				<li><a href="add-patients?scenario=fileTooLarge">File too large</a></li>
				<li><a href="add-patients?scenario=fileIsEmpty">File is empty</a></li>
				<li><a href="add-patients?scenario=fileContainsAvirus">File contains a virus</a></li>
				<li><a href="add-patients?scenario=fileIsPasswordProtected">File is password protected</a></li>
				<li><a href="add-patients?scenario=fileNotUploaded">File not uploaded - try again</a></li>
			</ol>
			<p class="nhsuk-body nhsuk-u-margin-bottom-2">Enrichment processing in-flight:</p>
			<ol start="9">
				<li><a href="add-patients?scenario=processing">Add patients (processing in-flight)</a></li>
			</ol>
		</div>

		<div class="nhsuk-grid-column-one-half">

			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">System behaviour</h2>
			<ol start="10">
				<li><a href="/patient-upload/interruption-page-overwrite-warning">Overwrite existing list warning</a></li>
			</ol>

			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Upload success</h2>
			<ol start="11">
				<li><a href="/patient-upload/upload-complete">Patient list uploaded: processing to begin</a></li>
			</ol>
			<p class="nhsuk-body nhsuk-u-margin-bottom-2">Error state:</li>
			<ol start="12">
				<li><a href="error-patients-not-added">Patient list uploaded: issues detected in CSV</a></li>
			</ol>

			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Processing outcomes</h2>
			<p class="nhsuk-body nhsuk-u-margin-bottom-2">Emails:</li>
			<ol start="13">
				<li><a href="email-success?firstName=Jodie&lastName=Brown">Processing success and patient list ready to view</a></li>
				<li><a href="email-failed?firstName=Jodie&lastName=Brown">Processing failed; previous patient list restored</a></li>
				{#<li><a href="email-failed?firstName=Jodie&lastName=Brown">Processing failed; first time upload, no patient list</a></li>#}
			</ol>
			{#<ol>
				<li><a href="#/">NOT PROGRESS BUT CURRENT STATE</li>
			</ol>#}

			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-2">Patient list</h2>
			<ol start="15">
				<li><a href="patients?scenario=firstUpload">Patient list: no patients have been added</a></li>
				<li><a href="patients?scenario=processing">Patient list: processing in-flight</a></li>
			</ol>

		</div>
	</div>
{% endblock %}