{% extends 'ravs-plus-layout-1.html' %}

{% set currentSection = "plus" %}

{% block pageTitle %}
  Upload complete
{% endblock %}

{% block beforeContent %}
  {#<a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Go back</a>#}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--interruption">
        <h1 class="nhsuk-panel__title">
          Upload complete
        </h1>
      </div>

      <p class="nhsuk-body">
        We are checking the records you uploaded match the vaccination information we hold about your patients. 
        This could take up to 30 minutes. You cannot view your list of patients during this time. 
      </p>
      
      <p class="nhsuk-body">
        You will get an email when the check is complete.
      </p>

      <p class="nhsuk-body"><a href="change-log?uploadedList=processing">View patient upload history</a>.</p>

    </div>
  </div>
{% endblock %}