<details class="nhsuk-details nhsuk-expander">

  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      How eligibility status tags work
    </span>
  </summary>
  <div class="nhsuk-details__text">

    <table class="nhsuk-table eligibility-table">
      <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">
        How eligibility status tags work
      </caption>
      <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th scope="col" class="nhsuk-table__header">
          Status
        </th>
        <th scope="col" class="nhsuk-table__header">
          Flu
        </th>
      </tr>
      </thead>
      <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <th scope="row" class="nhsuk-table__header">
          <strong class="nhsuk-tag nhsuk-tag--yellow">Eligible</strong>
        </th>
        <td class="nhsuk-table__cell">
          Not vaccinated in this vaccination season and was last vaccinated more than XX months ago.
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <th scope="row" class="nhsuk-table__header">
          <strong class="nhsuk-tag nhsuk-tag--green" style="white-space: nowrap;">Vaccinated</strong>
        </th>
        <td class="nhsuk-table__cell">
          Vaccinated in this vaccination season.
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <th scope="row" class="nhsuk-table__header">
          <strong class="nhsuk-tag nhsuk-tag--red">Declined</strong>
        </th>
        <td class="nhsuk-table__cell">
          Chose not to be vaccinated in this vaccination season.
        </td>
      </tr>
      </tbody>
    </table>
    
  </div>
</details>

<table class="nhsuk-table" data-module="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">Patients</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="nhsuk-table__header" scope="col">Name and NHS number</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="ascending">Personal ID</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Job role and staff group</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Location</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Flu eligibility</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row">
      {#<td>P001</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row">Conkers, Jonny<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">104 832 7715</span></th>
      <td class="nhsuk-table__cell">S234885</td>
      <td class="nhsuk-table__cell">Speech and Language Therapist <br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Allied Health Professionals</span></td>
      <td class="nhsuk-table__cell">Northern General Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong></td>
    </tr>

    <tr role="row">
      {#<td>P002</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Brown, Barbara<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">589 204 6632</span></th>
      <td class="nhsuk-table__cell">S124760</td>
      <td class="nhsuk-table__cell">Staff Nurse<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Nursing and Midwifery Registered</span></td>
      <td class="nhsuk-table__cell">Royal Hallamshire Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>30 Oct 2026</td>
    </tr>

    <tr role="row">
      {#<td>P003</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Towelling, Terry<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">771 395 0284</span></th>
      <td class="nhsuk-table__cell">S279541</td>
      <td class="nhsuk-table__cell">Receptionist<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Administrative and Clerical</span></td>
      <td class="nhsuk-table__cell">Porter Brook Medical Centre</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Declined</strong><br>10 Oct 2026</td>
    </tr>

    <tr role="row">
      {#<td>P004</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Stevenson, Maureen<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">236 880 9147</span></th>
      <td class="nhsuk-table__cell">S145228</td>
      <td class="nhsuk-table__cell">Occupational Health Nurse<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Nursing and Midwifery Registered</span></td>
      <td class="nhsuk-table__cell">Northern General Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>15 Sep 2026</td>
    </tr>
    <tr role="row">
      {#<td>P005</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Burns, Anne<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">915 447 3026</span></th>
      <td class="nhsuk-table__cell">S203744</td>
      <td class="nhsuk-table__cell">Senior Staff Nurse<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Nursing and Midwifery Registered</span></td>
      <td class="nhsuk-table__cell">Royal Hallamshire Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>22 Sep 2026</td>
    </tr>
    <tr role="row">
      {#<td>P006</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Williams, Natasha<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">348 129 7753</span></th>
      <td class="nhsuk-table__cell">S268390</td>
      <td class="nhsuk-table__cell">Physiotherapist<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Allied Health Professionals</span></td>
      <td class="nhsuk-table__cell">Northern General Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong></td>
    </tr>

    <tr role="row">
      {#<td>P007</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Davison, Terry<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">662 540 1988</span></th>
      <td class="nhsuk-table__cell">S118593</td>
      <td class="nhsuk-table__cell">Healthcare Assistant<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Additional Clinical Services</span></td>
      <td class="nhsuk-table__cell">Porter Brook Medical Centre</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong></td>
    </tr>

    <tr role="row">
      {#<td>P008</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Bennett, Jenna<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">703 216 4591</span></th>
      <td class="nhsuk-table__cell">S182395</td>
      <td class="nhsuk-table__cell">HR Administrator<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Administrative and Clerical</span></td>
      <td class="nhsuk-table__cell">Trust Headquarters</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>28 Sep 2026</td>
    </tr>

    <tr role="row">
      {#<td>P009</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Davison, Michael<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">829 771 0346</span></th>
      <td class="nhsuk-table__cell">S297826</td>
      <td class="nhsuk-table__cell">Radiographer<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Allied Health Professionals</span></td>
      <td class="nhsuk-table__cell">Royal Hallamshire Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>3 Oct 2026</td>
    </tr>

    <tr role="row">
      {#<td>P010</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Begum, Nicola<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">451 903 2287</span></th>
      <td class="nhsuk-table__cell">S163407</td>
      <td class="nhsuk-table__cell">Ward Clerk<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Administrative and Clerical</span></td>
      <td class="nhsuk-table__cell">Northern General Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong></td>
    </tr>

    <tr role="row">
      {#<td>P011</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">King, Charlene<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">667 118 5902</span></th>
      <td class="nhsuk-table__cell">S256714</td>
      <td class="nhsuk-table__cell">Occupational Therapist<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Allied Health Professionals</span></td>
      <td class="nhsuk-table__cell">Royal Hallamshire Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong></td>
    </tr>

    <tr role="row">
      {#<td>P012</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Chambers, David<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">294 660 8735</span></th>
      <td class="nhsuk-table__cell">S102847</td>
      <td class="nhsuk-table__cell">Pharmacy Technician<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Additional Clinical Services</span></td>
      <td class="nhsuk-table__cell">Northern General Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong></td>
    </tr>

    <tr role="row">
      {#<td>P013</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Shaw, Joyce<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">830 552 1494</span></th>
      <td class="nhsuk-table__cell">S217508</td>
      <td class="nhsuk-table__cell">Medical Secretary<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Administrative and Clerical</span></td>
      <td class="nhsuk-table__cell">Porter Brook Medical Centre</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Declined</strong><br>8 Oct 2026</td>
    </tr>

    <tr role="row">
      {#<td>P014</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Hobbs, Molly<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">172 449 6008</span></th>
      <td class="nhsuk-table__cell">S157914</td>
      <td class="nhsuk-table__cell">Speech and Language Therapist<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Allied Health Professionals</span></td>
      <td class="nhsuk-table__cell">Royal Hallamshire Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong></td>
    </tr>

    <tr role="row">
      {#<td>P015</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">O'Sullivan, Patrick<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">905 731 2843</span></th>
      <td class="nhsuk-table__cell">S285163</td>
      <td class="nhsuk-table__cell">Clinical Coder<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Administrative and Clerical</span></td>
      <td class="nhsuk-table__cell">Trust Headquarters</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Declined</strong><br>12 Oct 2026</td>
    </tr>

    <tr role="row">
      {#<td>P016</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Power, Elaine<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">318 067 5592</span></th>
      <td class="nhsuk-table__cell">S174652</td>
      <td class="nhsuk-table__cell">Biomedical Scientist<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Scientific, Therapeutic and Technical</span></td>
      <td class="nhsuk-table__cell">Northern General Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>17 Sep 2026</td>
    </tr>

    <tr role="row">
      {#<td>P017</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Phillips, Robert<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">746 882 1307</span></th>
      <td class="nhsuk-table__cell">S131985</td>
      <td class="nhsuk-table__cell">Domestic Supervisor<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Estates and Ancillary</span></td>
      <td class="nhsuk-table__cell">Royal Hallamshire Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong></td>
    </tr>

    <tr role="row">
      {#<td>P18</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Brown, Sally<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">529 304 7716</span></th>
      <td class="nhsuk-table__cell">S196871</td>
      <td class="nhsuk-table__cell">Dietitian<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Allied Health Professionals</span></td>
      <td class="nhsuk-table__cell">Porter Brook Medical Centre</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong><br>25 Sep 2026</td>
    </tr>

    <tr role="row">
      {#<td>P019</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Brown, Steven<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">681 220 4985</span></th>
      <td class="nhsuk-table__cell">S241973</td>
      <td class="nhsuk-table__cell">Porter<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Estates and Ancillary</span></td>
      <td class="nhsuk-table__cell">Northern General Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--red nhsuk-u-margin-bottom-1">Declined</strong><br>5 Oct 2026</td>
    </tr>

    <tr role="row">
      {#<td>P020</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Page, Michelle<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">407 993 1562</span></th>
      <td class="nhsuk-table__cell">S228169</td>
      <td class="nhsuk-table__cell">Receptionist<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">Administrative and Clerical</span></td>
      <td class="nhsuk-table__cell">Royal Hallamshire Hospital</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong></td>
    </tr>
  </tbody>
</table>

<div class="nhsuk-pagination-wrapper nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
  <div class="nhsuk-pagination-wrapper__pagination">
    {% if data.filtersApplied == "true" %}
      {{ pagination({
        next: {
          href: "#"
        },
        items: [
          {
            number: 1,
            href: "#",
            current: true
          },
          {
            ellipsis: true
          },
          {
            number: 8,
            href: "#"
          },
          {
            number: 9,
            href: "#"
          },
          {
            number: 10,
            href: "#"
          },
          {
            number: 11,
            href: "#"
          },
          {
            number: 12,
            href: "#"
          }
        ]
      }) }}
    {% else %}
      {{ pagination({
        next: {
          href: "#"
        },
        items: [
          {
            number: 1,
            href: "#",
            current: true
          },
          {
            ellipsis: true
          },
          {
            number: 8,
            href: "#"
          },
          {
            number: 9,
            href: "#"
          },
          {
            number: 10,
            href: "#"
          },
          {
            number: 11,
            href: "#"
          },
          {
            number: 12,
            href: "#"
          },
          {
            ellipsis: true
          },
          {
            number: 800,
            href: "#"
          }
        ]
      }) }}
    {% endif %}
  </div>

  {% if data.filtersApplied == "true" %}
    <div class="nhsuk-pagination-wrapper__results">
      Showing 1 to 20 of 238 patients
    </div>
  {% else %}
    <div class="nhsuk-pagination-wrapper__results">
      Showing 1 to 20 of 15,995 patients
    </div>
  {% endif %}
</div>

<div class="nhsuk-button-group">
  {% if data.filtersApplied == "true" %}
    <a class="nhsuk-button" data-module="nhsuk-button" href="send-invites">Send invitations</a>
  {% else %}
    <a class="nhsuk-button" data-module="nhsuk-button" href="review-and-send">Send invitations</a>
  {% endif %}
  <a class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" href="export-patients">Export list of patients</a>
</div>