{% extends 'ravs-plus-layout-1-oh.html' %}

{% set currentSection = "plus" %}

{% block pageTitle %}
  There was a problem with your upload
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        There was a problem with your upload
      </h1>
      <p class="nhsuk-body">
        There were issues with the data in the CSV file you uploaded.
      </p>
      <p class="nhsuk-body">
        The CSV file should include a header row followed by data rows. The header row must include one mandatory column: Name.
      </p>
      <p class="nhsuk-body">
        Check the data and upload a new CSV file.
      </p>
      <p class="nhsuk-body">
        <a href="add-patients?scenario=firstUpload" class="nhsuk-button" data-module="nhsuk-button">Add patients</a>
      </p>
    </div>
  </div>
{% endblock %}