{% extends 'layout-index-only.html' %}

{% set pageName = "NHS Record a vaccination prototypes" %}

{% block beforeContent %}
	{{ backLink({
	href: "/", text: "Back"
	}) }}
{% endblock %}

{% block content %}
	<div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-two-thirds">
			<h1 class="nhsuk-heading-l">Occupational health [WIP]</h1>
			<p class="nhsuk-body">
				<ol>
					<li><a href="landing">Landing</a></li>
					<li><a href="add-patients?scenario=firstUpload">Add patients (first time upload)</a></li>
					<li><a href="add-patients?scenario=updateExisting">Add patients (overwrite existing list)</a></li>
					<li><s><a href="upload-type">Upload type</a></s></li>
					<li><a href="patients">Patient list (filters and data incorrect)</a></li>
					<li><a href="patients-data-errors">Data errors (filters and data incorrect)</a></li>
					<li><a href="send-invites">Send invites</a></li>
					<li><a href="warning">Warning: Vaccine invite doesn't match cohort</a></li>
					<li><a href="invite">Invite message</a></li>
					<li><a href="review-and-send">Review and send flu invite [Check your answers]</a></li>
					<li><a href="invites-completed">Invitations sent</a></li>
				</ol>
			</p>

			<hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">

		</div>
	</div>
{% endblock %}