{% extends 'ravs-plus-layout-1-oh.html' %}

{% set currentSection = "plus" %}

{% block pageTitle %}
  Review and send invite
{% endblock %}

{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Back</a>
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">
      Review and send {% if data['e2eCurrentUserType'] == 'OH' %}Td/IPV{% else %}flu{% endif %} invite
    </h1>

    <p class="nhsuk-body-l">
      Review communications summary before sending.
    </p>

    <h2 class="nhsuk-heading-m">
      Patients selected for {% if data['e2eCurrentUserType'] == 'OH' %}Td/IPV{% else %}flu{% endif %} invite
    </h2>

    <p class="nhsuk-body">
      There are 1,995 patients in your invite list and no filters applied.
    </p>

    <p class="nhsuk-body nhsuk-u-margin-bottom-6">
      <a href="patients" class="nhsuk-link">Edit patient list</a>
    </p>

    <h2 class="nhsuk-heading-m">
      Message being sent to patient list
    </h2>

    <div class="nhsuk-card nhsuk-u-margin-bottom-4" id="card-rsv-focus">
      <div class="nhsuk-card__content nhsuk-u-padding-bottom-2">
        <div id="rsv-editable" aria-label="RSV message content" aria-live="polite">
          <p class="nhsuk-body">Hello [First name],</p>
          <p class="nhsuk-body">
            You are invited to book an appointment for a {% if data['e2eCurrentUserType'] == 'OH' %}Td/IPV{% else %}flu{% endif %} vaccination as you are eligible. Follow
            <a href="#/" class="nhsuk-link">this link for further information on the {% if data['e2eCurrentUserType'] == 'OH' %}Td/IPV{% else %}flu{% endif %} vaccine</a>.
          </p>
          <p class="nhsuk-body">
            If you would like to make an appointment, please book
            <a href="#/" class="nhsuk-link">using our online tool</a> or call us on {% if data['e2eCurrentUserType'] == 'OH' %}01209{% else %}0121{% endif %} 472 1377.
          </p>
          <p class="nhsuk-body">
            If you have already contacted us, please accept our apologies and ignore this reminder.
          </p>
          <p class="nhsuk-body">
            {% if data['e2eCurrentUserType'] == 'OH' %}
              Kind regards,<br />Royal Cornwall Hospitals Occupational Health team
            {% else %}
              Kind regards,<br />BWC Trust
            {% endif %}
          </p>
        </div>
      </div>
    </div>

    <p class="nhsuk-body nhsuk-u-margin-bottom-6">
      <a href="invite" class="nhsuk-link">Edit content</a>
    </p>

    <form class="form" action="invites-completed" method="post" class="submit">
      <div class="govuk-button-group">
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Confirm and send
        </button>
        <p class="nhsuk-body nhsuk-u-padding-left-4"><a class="nhsuk-link" href="/iteration-2/landing-organise-clinics?invitesSent">Cancel</a></p>
      </div>
    </form>

  </div>
</div>

{% endblock %}
