{% extends 'ravs-plus-layout-1-oh.html' %}

{% set currentSection = "plus" %}

{% block pageTitle %}
  {% if data.filtersApplied == "true" %}
      Review and send invitations 
  {% else %}
      Send invitations 
  {% endif %}
{% endblock %}

{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post" action="send-invites-completed">

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="export-patients-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              {% if data.filtersApplied == "true" %}
                <h1 class="nhsuk-fieldset__heading">
                  Review and send invitations 
                </h1>
              {% else %}
                <h1 class="nhsuk-fieldset__heading">
                  Send invitations 
                </h1>
              {% endif %}
            </legend>
            {% if data.filtersApplied == "true" %}
              <p class="nhsuk-hint" id="invite-patients-hint">
                Your current list of patients was uploaded by <strong>Chloe Liu</strong> at 11:57am on <strong>{{ date({ day: "numeric", month: "long", year: "numeric" }, { day: -7 }) }}</strong>.
              </p>
              {% if data.sendInvites == "sendInvitesToFilteredPatients" %}
                <p class="nhsuk-body nhsuk-u-margin-bottom-4">
                  You have selected a filtered list of 238 patients to invite for a flu vaccination.
                </p>
                <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
                  Active filters
                </h2>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li>Flu status: Eligible</li>
                  <li>Location: Northern General Hospital</li>
                </ul>
              {% else %}
                <p class="nhsuk-body">Everyone on your list will receive an invitation to get a flu vaccination.</p>
              {% endif %}
            {% else %}
              <p class="nhsuk-hint" id="invite-patients-hint">
                Your current list of patients was uploaded by <strong>Chloe Liu</strong> at 11:57am on <strong>{{ date({ day: "numeric", month: "long", year: "numeric" }, { day: -7 }) }}</strong>.
              </p>
              <p class="nhsuk-body">
                There are 15,995 patients on your list and no filters applied. Everyone on your list will receive an invitation to get a flu vaccination.
              </p>
              {% endif %}
              <p class="nhsuk-body">
                This is the message that will be sent to those patients by email.  
              </p>
              <div class="nhsuk-card nhsuk-u-margin-bottom-0">
                <div class="nhsuk-card__content">
                  <p class="nhsuk-body">Hello [First name]</p>
                  <p class="nhsuk-body">You are eligible for a flu vaccination. Visit our website to book an appointment and choose how you want to receive your vaccination.</p>
                  <p class="nhsuk-body"><a href="#/" class="nhsuk-link">Book a flu vaccination appointment</a>.</p>
                  <p class="nhsuk-body">If you would like more information first, you can <a href="#/" class="nhsuk-link">learn more about the flu vaccine</a>.</p>
                  <p class="nhsuk-body">If you have already been contacted about a flu vaccination, sorry for contacting you again and please ignore this message.</p>
                  <p class="nhsuk-body">Kind regards<br>[Organisation name]</p>
                </div>
              </div>
          </fieldset>
        </div>
        <div class="nhsuk-button-group">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Confirm and send</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}