{% extends 'ravs-plus-layout-1-oh.html' %}

{% set currentSection = "plus" %}

{% block pageTitle %}
  Send invitations
{% endblock %}

{% block beforeContent %}
  <a href="#" class="nhsuk-back-link" onclick="window.history.back(); return false;">Back</a>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form method="post" action="review-and-send">
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="export-patients-hint">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
                Send invitations
              </h1>
            </legend>
            <p class="nhsuk-hint" id="invite-patients-hint">
              Your current list of patients was uploaded by <strong>Chloe Liu</strong> at 11:57am on <strong>{{ date({ day: "numeric", month: "long", year: "numeric" }, { day: -7 }) }}</strong>.
            </p>
            <p class="nhsuk-body">
              There are 238 patients in your list with 2 filters applied.
            </p>
            <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">
              Active filters
            </h2>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Flu status: Eligible</li>
              <li>Location: Northern General Hospital</li>
            </ul>
            <div class="nhsuk-radios" data-module="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="send-invites" name="sendInvites" type="radio" value="sendInvitesToFilteredPatients">
                <label class="nhsuk-label nhsuk-radios__label" for="send-invites">
                  Send invitations to filtered list of patients
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="send-invites-2" name="sendInvites" type="radio" value="sendInvitesToAllPatients">
                <label class="nhsuk-label nhsuk-radios__label" for="send-invites-2">
                  Send invitations to all patients 
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="nhsuk-button-group">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}