<table class="nhsuk-table" data-module="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-table__caption--m">Patients</caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="ascending">Name and NHS number</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Weeks pregnant and due date</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">RSV eligibility</th>
      <th role="columnheader" class="nhsuk-table__header" scope="col" aria-sort="none">Pertussis eligibility</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row">
      {#<td>P001</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="row">Bailey, Sarah<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">104 832 7715</span></th>
      <td class="nhsuk-table__cell">39 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">6 May 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 11 Feb 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 18 Nov 2025</td>
    </tr>
    <tr role="row">
      {#<td>P002</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Edwards, Janet<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">589 204 6632</span></th>
      <td class="nhsuk-table__cell">37 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">18 May 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 23 Feb 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 30 Nov 2025</td>
    </tr>
    <tr role="row">
      {#<td>P003</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Barnes, Carole<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">771 395 0284</span></th>
      <td class="nhsuk-table__cell">35 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">2 Jun 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 10 Mar 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 16 Dec 2025</td>
    </tr>
    <tr role="row">
      {#<td>P004</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Stevenson, Maureen<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">236 880 9147</span></th>
      <td class="nhsuk-table__cell">33 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">15 Jun 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong></td>
    </tr>
    <tr role="row">
      {#<td>P005</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Burns, Anne<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">915 447 3026</span></th>
      <td class="nhsuk-table__cell">31 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">29 Jun 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong></td>
    </tr>
    <tr role="row">
      {#<td>P006</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Williams, Natasha<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">348 129 7753</span></th>
      <td class="nhsuk-table__cell">29 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">10 Jul 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 17 Apr 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 23 Jan 2026</td>
    </tr>
    <tr role="row">
      {#<td>P007</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Davison, Joyce<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">662 540 1988</span></th>
      <td class="nhsuk-table__cell">27 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">24 Jul 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 1 May 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 6 Feb 2026</td>
    </tr>
    <tr role="row">
      {#<td>P008</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Bennett, Jenna<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">703 216 4591</span></th>
      <td class="nhsuk-table__cell">25 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">6 Aug 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 14 May 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong></td>
    </tr>
    <tr role="row">
      {#<td>P009</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Davison, Michelle<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">829 771 0346</span></th>
      <td class="nhsuk-table__cell">23 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">20 Aug 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 28 May 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-bottom-1">Vaccinated</strong></td>
    </tr>
    <tr role="row">
      {#<td>P010</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Begum, Nicola<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">451 903 2287</span></th>
      <td class="nhsuk-table__cell">21 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">3 Sep 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 12 Jun 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 19 Mar 2026</td>
    </tr>
    <tr role="row">
      {#<td>P011</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">King, Charlene<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">667 118 5902</span></th>
      <td class="nhsuk-table__cell">19 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">17 Sep 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 26 Jun 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 2 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P012</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Chambers, Katherine<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">294 660 8735</span></th>
      <td class="nhsuk-table__cell">17 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">30 Sep 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 9 Jul 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-bottom-1">Eligible</strong><br>From 15 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P013</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Shaw, Joyce<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">830 552 1494</span></th>
      <td class="nhsuk-table__cell">15 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">14 Oct 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 23 Jul 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 29 Apr 2026</td>
    </tr>
    <tr role="row">
      {#<td>P014</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Hobbs, Molly<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">172 449 6008</span></th>
      <td class="nhsuk-table__cell">13 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">28 Oct 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 6 Aug 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 13 May 2026</td>
    </tr>
    <tr role="row">
      {#<td>P015</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">O'Sullivan, Francesca<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">905 731 2843</span></th>
      <td class="nhsuk-table__cell">11 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">11 Nov 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 20 Aug 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 27 May 2026</td>
    </tr>
    <tr role="row">
      {#<td>P016</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Power, Elaine<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">318 067 5592</span></th>
      <td class="nhsuk-table__cell">9 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">25 Nov 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 3 Sep 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 10 Jun 2026</td>
    </tr>
    <tr role="row">
      {#<td>P017</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Phillips, Maureen<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">746 882 1307</span></th>
      <td class="nhsuk-table__cell">7 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">9 Dec 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 17 Sep 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 24 Jun 2026</td>
    </tr>
    <tr role="row">
      {#<td>P018</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Brown, Sally<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">529 304 7716</span></th>
      <td class="nhsuk-table__cell">5 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">23 Dec 2026</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 30 Sep 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 8 Jul 2026</td>
    </tr>
    <tr role="row">
      {#td>P019</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Brown, Sharon<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">681 220 4985</span></th>
      <td class="nhsuk-table__cell">3 weeks<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">6 Jan 2027</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 14 Oct 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 22 Jul 2026</td>
    </tr>
    <tr role="row">
      {#<td>P020</td>#}
      <th class="nhsuk-table__header nhsuk-u-font-weight-normal" scope="col">Page, Michelle<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">407 993 1562</span></th>
      <td class="nhsuk-table__cell">1 week<br><span class="nhsuk-u-nowrap nhsuk-u-secondary-text-colour">20 Jan 2027</span></td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 28 Oct 2026</td>
      <td class="nhsuk-table__cell"><strong class="nhsuk-tag nhsuk-tag--grey nhsuk-u-margin-bottom-1">Not yet eligible</strong><br>From 5 Aug 2026</td>
    </tr>
  </tbody>
</table>

<div class="nhsuk-pagination-wrapper nhsuk-u-margin-top-6 nhsuk-u-margin-bottom-6">
  <div class="nhsuk-pagination-wrapper__pagination">
    {% if data.filtersApplied == "true" %}
      {{ pagination({
        next: {
          href: "#"
        },
        items: [
          {
            number: 1,
            href: "#",
            current: true
          },
          {
            ellipsis: true
          },
          {
            number: 8,
            href: "#"
          },
          {
            number: 9,
            href: "#"
          },
          {
            number: 10,
            href: "#"
          },
          {
            number: 11,
            href: "#"
          },
          {
            number: 12,
            href: "#"
          }
        ]
      }) }}
    {% else %}
      {{ pagination({
        next: {
          href: "#"
        },
        items: [
          {
            number: 1,
            href: "#",
            current: true
          },
          {
            ellipsis: true
          },
          {
            number: 8,
            href: "#"
          },
          {
            number: 9,
            href: "#"
          },
          {
            number: 10,
            href: "#"
          },
          {
            number: 11,
            href: "#"
          },
          {
            number: 12,
            href: "#"
          },
          {
            ellipsis: true
          },
          {
            number: 42,
            href: "#"
          }
        ]
      }) }}
    {% endif %}
  </div>

  {% if data.filtersApplied == "true" %}
    <div class="nhsuk-pagination-wrapper__results">
      Showing 1 to 20 of 238 patients
    </div>
  {% else %}
    <div class="nhsuk-pagination-wrapper__results">
      Showing 1 to 20 of 1,993 patients
    </div>
  {% endif %}
</div>

<a class="nhsuk-button" data-module="nhsuk-button" href="export-patients">Export patients</a>
{#<p class="nhsuk-body">
  <a class="nhsuk-link" href="#/" id="backToInvite">Back to <strong>Understand my cohort</strong></a>
</p>#}