<details class="nhsuk-details">

  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Filter and sort
    </span>
  </summary>

  <div class="nhsuk-details__text app-filter__panel">

    <form action="#/" method="post" novalidate>

      {# Status #}
      {% set conditionalRSVstatus %}
        {{ checkboxes({
          idPrefix: "current-rsv-status",
          name: "currentRSVstatus",
          fieldset: { legend: { text: "RSV status", classes: "nhsuk-fieldset__legend nhsuk-u-visually-hidden" } },
          classes: "nhsuk-checkboxes--small",
          items: [
            { value: "statusRSVvaccinated", text: "Vaccinated" },
            { value: "statusRSVpriority", text: "Priority" },
            { value: "statusRSVeligible", text: "Eligible" },
            { value: "statusRSVnotYetElligible", text: "Not yet eligible" }
          ]
        }) }}
      {% endset %}

      {% set conditionalPertussisStatus %}
        {{ checkboxes({
          idPrefix: "current-pertussis-status",
          name: "currentPertussisStatus",
          fieldset: { legend: { text: "Pertussis status", classes: "nhsuk-fieldset__legend nhsuk-u-visually-hidden" } },
          classes: "nhsuk-checkboxes--small",
          items: [
            { value: "statusPertussisVaccinated", text: "Vaccinated" },
            { value: "statusPertussisPriority", text: "Priority" },
            { value: "statusPertussisEligible", text: "Eligible" },
            { value: "statusPertussisNotYetElligible", text: "Not yet eligible" }
          ]
        }) }}
      {% endset %}

      {{ checkboxes({
        idPrefix: "eligibilityStatus",
        name: "eligibilityStatus",
        fieldset: { legend: { text: "Status", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
        classes: "nhsuk-checkboxes--small",
        items: [
          { value: "rsvStatus", text: "RSV status", conditional: { html: conditionalRSVstatus } },
          { value: "pertussisStatus", text: "Pertussis status", conditional: { html: conditionalPertussisStatus } }
        ]
      }) }}

      {# Weeks pregnant #}
      {{ checkboxes({
        idPrefix: "weeks-pregnant",
        name: "weeksPregnant",
        fieldset: { legend: { text: "Weeks pregnant", classes: "nhsuk-fieldset__legend nhsuk-u-font-weight-bold" } },
        classes: "nhsuk-checkboxes--small",
        items: [
          { value: "weeksPregnantUpTo20", text: "Up to 20 weeks" },
          { value: "weeksPregnant20to23", text: "20 to 23 weeks" },
          { value: "weeksPregnant24to27", text: "24 to 27 weeks" },
          { value: "weeksPregnant28to31", text: "28 to 31 weeks" },
          { value: "weeksPregnant32to35", text: "32 to 35 weeks" },
          { value: "weeksPregnant36orMore", text: "36 weeks or more" }
        ]
      }) }}

      {# Form submit #}
      <div class="app-actions">
        <button type="button" class="nhsuk-button nhsuk-button--small" data-module="nhsuk-button" onclick="window.location.href = window.location.pathname + '?filtersApplied=true'">
          Apply
        </button>
        <button type="button" class="nhsuk-button nhsuk-button--secondary nhsuk-button--small" data-module="nhsuk-button" onclick="window.location.href = window.location.pathname + '?filtersApplied'">
          Clear all
        </button>
      </div>

    </form>

  </div>
</details>